[2022-06-02 08:33] tguilpain commented on #811
The job on v2 is still trying to pull https://api.github.com/repos/actions/cache/tarball/937d24475381cd9c75ae6db12cb4e79714b926ed and it still results in a zero bytes archive for me

[2022-06-02 08:33] bhushan991 commented on #811
Still Getting:
[code]

[2022-06-02 08:34] piotrekkr commented on #811
Upgrade to v3 is still not doing much for me:
![image](https://user-images.githubusercontent.com/503782/171589511-f0589b46-4a0e-4578-b5bb-5311b532a0b9.png)

[2022-06-02 08:45] jontze commented on #811
Restarting the failed jobs multiple times seems to resolve the issue for me sometimes. I'm still on v2.

[2022-06-02 08:48] piotrekkr commented on #811
I was using v3 and it failed again. But after enabling debug and rerunning seems like it is now working (at least it does not fail in same place as before).

[2022-06-02 09:05] tiwarishub commented on #811
please let me know, if anyone still seeing this issue

[2022-06-02 09:07] tguilpain commented on #811
Must be cached somewhere, when I click on the v2 link, it downloads a zero bytes archive for me.
V3 link is fine with 1,2MB

[2022-06-02 09:08] jpmenil commented on #811
[code]
[code]

[2022-06-02 09:41] rusrushal13 commented on #811
cc @tiwarishub
[code]
I am still getting the same error from other repos

[2022-06-02 10:10] tiwarishub commented on #811
[code]
above content length is of  302 response

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/64764738/171607569-4efd9363-7c3b-476d-972f-4994e3418525.png">

[2022-06-02 10:10] danielsantos-25friday commented on #753
I'm facing the same issue, I've retried several times with "enable debug logging" and always get error Permission Denied
`##[debug]::debug::Search path '/home/runner/work/gha-hashfiles-parmission-check/gha-hashfiles-parmission-check'`
`##[debug][Error: EACCES: permission denied, scandir ...`

[2022-06-02 10:19] jpmenil commented on #811
true, seem to be better now. thx !!

[2022-06-02 12:40] tguilpain commented on #811
I confirm my jobs run fine now, still on v2

[2022-06-02 12:43] jontze commented on #811
The issue is resolved for me as well :+1:

[2022-06-02 14:52] joshmgross commented on #125
We've had issues with GNU tar on Windows in the past, which is why we moved towards BSD Tar - #126

We could pass the tar path from the restore step to the save step so that we're using the same `tar` in both.

[2022-06-02 21:55] anngelyque commented on #807
Similar issue here except it consistently downloads ~0MB for the same key that was previously generated. In my case, it's the main branch creating the key to be used again by the main branch or feature branches off the main branch. The random aspect here is that when the cache key is updated / busted, it will either pull the ~0MB or the correct data, but it will consistently pull the same data for

[2022-06-02 23:28] fl250144 commented on #810
I have this errors multiple times by day...
my first thought was the cache size that was around 1.5gb... but the problem still happend even with a cache of about 150mb

![image](https://user-images.githubusercontent.com/83248952/171754406-e2debf2b-6af6-43ba-925f-3387620318c6.png)

[2022-06-03 05:15] vsvipul commented on #811
Closing as resolved. Thank you @tiwarishub  for taking this up.
Summary-

We had an issue with codeload, which serves these archives, which resulting to 0mb. After the issue was resolved, some of host end up having 0mb archive and we deleted those cached files from hosts. but looks like some process have still kept this file in open state. So we redeployed error causing host to make sure no host h

[2022-06-03 07:44] eduardomoroni commented on #597
For some reason, to us it always take 10s when there's no cache hit but it only happens to yarn cache, our build cache sometimes take 40s
<img width="1047" alt="image" src="https://user-images.githubusercontent.com/823150/171810891-b0e276ef-9bd6-41e3-bd9d-2bea0f4d09a9.png">

[2022-06-03 07:51] eduardomoroni commented on #795
https://github.com/actions/cache/pull/571
This would solve this issue

[2022-06-03 09:21] aparna-ravindra commented on #795
@eduardomoroni ,
Thanks for the update. I see two concerns here:
1. Skipping the cache save in the "past" step for non-critical branches - since you know that it will never be used again.
2. Skipping the "post" step because of performance impact.

This issue is related to the second concern as explained [here](https://github.com/actions/cache/issues/795#issuecomment-1122820872).
If there is a perf

[2022-06-03 11:02] Phantsure commented on #792
@Xophmeister Closing this issue for now. Refer to the documentation given by conda for caching packages. Feel free to re-open, if you feel your question is still unanswered.

[2022-06-03 11:02] #792 closed

[2022-06-03 11:11] Phantsure commented on #393
@JeroenDeDauw @kindaro You can create different workflows as stated above or create sequential jobs, like job A will create a cache and job B can use that cache.

[2022-06-03 12:17] eduardomoroni commented on #795
In our current set-up (in a mono repo) we do see this message quite often
<details>
<summary>Unable to reserve cache with key foo another job may be creating this cache.</summary>
<code>
Post job cleanup.
/usr/bin/tar --posix --use-compress-program zstd -T0 -cf cache.tzst -P -C /runner/_work/web/web --files-from manifest.txt
Unable to reserve cache with key yarn-[2](https://github.com/hellofresh/w

[2022-06-05 03:11] jlivak commented on #795
I believe what's posted above is a bit different from the issue I was encountering.  I wasn't looking for a way to skip cache saving, rather just a way to skip the post-run cleanup that was taking an unusually long time when there was a cache hit and nothing to save/upload.

Apologies to @aparna-ravindra I know I still owe you a test project.  I worked on that today but am having issue replicating

[2022-06-05 03:15] jlivak commented on #795
Here is an example pulled from our work pipelines though showing that on cache hit post-run still takes 25 seconds for some reason.
![cachepostrun](https://user-images.githubusercontent.com/71203927/172033423-4a9e9c60-01a7-41bb-abf1-87ea3cfcf635.PNG)

[2022-06-05 17:40] vsvipul commented on #810
@kevinlul  @fl250144  Please provide full logs with [step debugging enabled](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging) so that we can debug this further. Thank you.

[2022-06-06 05:09] sammcj commented on #811
There looks to still be an issue with actions/cache@v3 on the cleanup stage @vsvipul :

[code]

[2022-06-06 05:23] vsvipul commented on #811
@tiwarishub Can you please look further into @sammcj 's comment?

[2022-06-06 09:52] kotewar commented on #689
@dopplershift thanks for sharing the path. The logs you have shared are not available anymore. Requesting you to please share the run if you come across the situation again.

[2022-06-06 12:21] aparna-ravindra commented on #795
@eduardomoroni
Agree that the PR you linked is a possible solution to the first concern that I had listed [above](https://github.com/actions/cache/issues/795#issuecomment-1145772261). I see that it has lost traction since it was created, but it is something we can continue reviewing now.

As @jlivak restated, we are trying to figure out what is consuming time in the post action when there is no ca

[2022-06-06 15:06] aparna-ravindra commented on #795
@jlivak Is your workflow running on self-hosted runners or Github hosted runners? Would it be possible to share the logs from this workflow run? You should be able to download them. Also, workflow with debug logs enabled will provide more insights. [Here](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging) is how you can enable debug mode.
![image](h

[2022-06-06 15:53] vsvipul commented on #810
@kevinlul Please keep the step debugging on and provide the logs if it reoccurs anytime soon.

[2022-06-06 19:03] dopplershift commented on #689
It's been failing pretty consistently for the last 6 months, so I appreciate you taking a look. Here's the [most recent failure](https://github.com/Unidata/MetPy/runs/6752838344?check_suite_focus=true#step:13:5) from last night.

[2022-06-06 20:58] jlivak commented on #795
@aparna-ravindra Thanks for pointing me to the debug logging flags, enabling those actually let me figure out what was going on.

It looks like the issue was caused by having `**/` at the beginning of our hashFiles() pattern for creating the cache key.  We unintentionally also had files within our cache that matched the file pattern and so some combination of searching the entire cache directory f

[2022-06-06 20:59] #795 closed

[2022-06-07 03:04] kotewar commented on #689
@dopplershift I am planning to release a fix (v3.0.4) today, I'll let you know once its available for testing.

[2022-06-07 08:37] eduardomoroni commented on #795
I know that the owner of the issue closed it, but as the title implies `[Feature request: Add a flag for skipping post run cleanup](https://github.com/actions/cache/issues/795#)` I still think this was not yet addressed, but there's a PR opened to implement this feature: https://github.com/actions/cache/pull/571
If the repo maintainers agree with the solution or wants some changed, I'd be happy to

[2022-06-07 09:36] Iduoad opened #814 "Path Validation Error when caching on container jobs"
When I use the cache action with a container job, the cache is not saved during the post cache step and instead I get the following error

[code]

Here is the code for my job
[code]
I tried replacing the ${{ github.workspace }} with it's exact value (absolute path) but nothing worked.

However when I use a hardcoded path that has nothing to do with ${{ github.workspace }} it works
[code]

[2022-06-07 09:46] aparna-ravindra commented on #598
Hey @kylemh ,
The action is only aware of the event that triggered the job. Hence, looking at the event for `deployment_status`, it is not possible to deduce the source branch/tag.
The `deployment_status` event can have a ref if the event was created with it. This is controlled by the system that is triggering the event. Hence this is not in the scope of this action and there is little that can be

[2022-06-07 09:49] aparna-ravindra commented on #597
Hi 👋🏽
There is a similar issue [here](https://github.com/actions/cache/issues/795#issuecomment-1147921730) where the cause was identified by enabling debug logs.

If you are still seeing this issue, could you please help with the following information:
1. Is your workflow running on self-hosted runners or Github hosted runners?
2. How frequently do you see this happening?
3. Would it be possible t

[2022-06-07 09:49] kylemh commented on #598
Right. Where do I post an issue requesting that this be changed. Even if it requires some sort of rearchitecting.

[2022-06-07 09:59] aparna-ravindra commented on #598
There is a similar discussion in [this issue](https://github.com/actions/cache/issues/319). If you find it similar to your usecase, you are welcome to add your views.

[2022-06-07 10:20] kylemh commented on #598
Ah. This looks basically like a dupe then.

[2022-06-07 10:20] #598 closed

[2022-06-07 11:07] kotewar commented on #814
Hi @Iduoad
Few questions for you.
1. Are you using windows image? What all images are you facing this issue on?
2. What is the size of cache that's getting generated for you when you're hardcoding the path? Can you please share the logs?

[2022-06-07 11:19] eduardomoroni commented on #597
1. Self-hosted
2. every run, pretty much. I was looking at https://github.com/actions/cache/issues/795#issuecomment-1147921730 and replaced the `hashFiles('**/yarn.lock')` by `hashFiles('yarn.lock')` and it got fixed.
3.

<details>
<summary>Logs</summary>

2022-06-07T11:10:08.8839500Z ##[debug]Evaluating condition for step: 'Post Restore Yarn Cache'
2022-06-07T11:10:08.8842200Z ##[debug]Evaluating

[2022-06-07 12:52] budarin commented on #735
the same

[code]

Previous action

[code]

and in the next action

[code]

[2022-06-07 18:53] tiwarishub commented on #811
@sammcj  this is different issue from the one which was discussed and resolved(it was related to setup of actions/cache and not related to error after restore of cache).
To debug the issue more, i will need debug logs to get more info for failure related to zstd. I will also recommend to create a separate issue and tag me there because we have lot of participants in this issue. 🙇

[2022-06-08 04:33] BaseInfinity opened #815 "Feature: Only rely on Cache key for hit/misses regardless of Path"
### Background
It appears that even though the Cache key being used to store and retrieve the cache is the same, a cache hit never occurs because the `path` string is different.

Here's a screenshot of two jobs on `main` in a row with the same cache key...we get a cache miss but successful cache upload in both jobs:
![Screen Shot 2022-06-07 at 9 15 11 PM](https://user-images.githubusercontent.com/

[2022-06-08 04:37] BaseInfinity commented on #638
@piurafunk just ran into this myself, I made a feature request:
https://github.com/actions/cache/issues/815

[2022-06-08 06:12] tiwarishub commented on #811
Okay, i found we already have one open issue related to this https://github.com/actions/cache/issues/809. Closing this and follow up there

[2022-06-08 06:12] #811 closed

[2022-06-08 07:06] kotewar commented on #814
Thanks for sharing the info @Iduoad
I used the workflow you shared with and without `${{ github.workspace }}`

I was able to run without any issues with `${{ github.workspace}}` , here's my [workflow file](https://github.com/kotewar/learning-actions/actions/runs/2459559476/workflow#L21) and corresponding [run with
debug logs](https://github.com/kotewar/learning-actions/runs/6788169889?check_suite_

[2022-06-08 07:17] Iduoad commented on #814
Thank you @kotewar for the detailed description.

The only difference is that I run a container job like I mentioned before.

Sorry if that wasn't clear. I edited the issue's description to mention that.

Here is the workflow file
[code]

[2022-06-08 07:56] kotewar commented on #814
Let me check the behaviour with `openjdk:17-jdk-alpine` and get back to you.

[2022-06-08 09:12] kotewar commented on #814
Here's the difference after using openjdk container.

The search path is getting evaluated to -

whereas the given path in action is - `/home/runner/work/learning-actions/learning-actions/.m2/repository`

<img width="1346" alt="Screenshot 2022-06-08 at 2 33 27 PM" src="https://user-images.githubusercontent.com/98868223/172577346-fb04fd21-9ff7-4000-aa99-87478f44eb0b.png">
[Workflow file](https://gi

[2022-06-08 12:15] fl250144 commented on #810
[37.zip](https://github.com/actions/cache/files/8861420/37.zip)
@vsvipul here it is

[2022-06-08 18:10] kotewar commented on #814
This is a mixed scenario where the workflow is running on ubuntu image sometimes, and on the container the rest of the times. That's why `${{ github.workspace }}` is sometimes evaluated as `/__w` and `/home/runner/work/repo-name/repo-name` the rest of the times. To investigate the issue, we went ahead to understand the behaviour of actions when ran in a container. If interested to know, please ref

[2022-06-08 21:31] Iduoad commented on #814
It definitely helps! Thank you so much @kotewar

[2022-06-08 21:32] #814 closed

[2022-06-09 00:17] adamant-pwn commented on #2
Still nothing? :(

[2022-06-09 05:04] vsvipul commented on #2
@adamant-pwn This is being targeted to be done by end of this quarter. You can track the progress at the public roadmap at https://github.com/github/roadmap/issues/502 .

[2022-06-09 08:37] #393 closed

[2022-06-09 12:11] kotewar commented on #807
@matthieu-foucault  and @anngelyque can you please share your workflow files?

[2022-06-10 02:22] underyx opened #817 "'Job A' unable to access cache of downstream 'Job B'"
Heya! I have these two jobs where Job B needs Job A: https://github.com/returntocorp/semgrep/blob/a9e8b90c2e3de705c54ca311b414608ffaa32ff7/.github/workflows/tests.yml#L15-L67

Both jobs do this:

[code]

But only Job B ever builds that artifact, while Job A only tries to restore it to see if Job B can be skipped altogether.

Now, I don't see why this wouldn't work, but it does not, see these logs:

[2022-06-10 05:26] kotewar commented on #689
I am hoping the problem is resolved for all now. Hence closing the issue.

[2022-06-10 05:26] #689 closed

[2022-06-10 17:44] BaseInfinity commented on #815
One could say this is a bug if the documentation states that caching occurs when cache key is the same, says nothing about the `path` having to be the same as well.

[2022-06-12 00:09] Kurt-von-Laven commented on #661
In the meantime, you should be able to detect a partial hit in many cases by virtue of the fact that the directory being restored isn't empty.

[2022-06-12 01:58] dopplershift commented on #689
I can confirm that moving to `@v3` fixes this particular issue for me.

I'm having a different problem now where it can't find the cache (after successfully saving), but the fact that you can't list what caches are present it making debugging more than a little difficult. I'll open an issue if I can ever get my hands around it.

[2022-06-12 03:58] dopplershift commented on #656
Dupe of #689 (which is fixed for me now in v3)?

[2022-06-12 06:07] dopplershift commented on #815
It would be REALLY helpful to have the action print out when it fails due to the path. Right now it says:
[code]
and I just spent a day trying to figure out how that happens but I was also seeing:
[code]
when it turns out that (somehow) the cache was saved with a path of `~` instead of `~/local`. Trying to debug that without a UI to look at cache details (or even an API to list the active caches)

[2022-06-12 08:34] #135 closed

[2022-06-13 07:10] taehwanno commented on #698
@dhadka This happens again right now. can you look at this?

[2022-06-13 07:18] link-jc commented on #698
@dhadka This happens again right now. can you look at this?

[2022-06-13 07:22] dev-song commented on #698
Workflow failed twice, but now it's working for me :)

[2022-06-13 07:27] tinvio-vunguyen commented on #698
I still got this issue when deploy the `payment-service`.

[2022-06-13 07:31] tkou-terrasky commented on #698
Fellows are gathering now :)

[2022-06-13 07:38] itsuki0927 commented on #698
I also encountered this error, but mine is 503
<img width="1010" alt="image" src="https://user-images.githubusercontent.com/40518195/173303435-03e3ea09-b727-4c56-9bbe-9a3d4506390a.png">

[2022-06-13 07:40] weirui88888 commented on #698
me too

[2022-06-13 07:59] ReginFell commented on #698
Good morning
<img width="482" alt="image" src="https://user-images.githubusercontent.com/3144106/173307090-d3145193-a41d-4943-afb3-ab32e05f8bd1.png">

[2022-06-13 08:04] LuudJanssen opened #820 "`getCacheEntry failed: Cache service responded with 503`"
This is a duplicate or re-open of #698, but I wanted to draw your attention to the fact that this is happening again. Given the amount of comments in the last half hour, I think this problem is affecting a lot of users.

Feel free to close this issue when it's already on your radar.

[2022-06-13 08:12] ChristianGrete0770 commented on #820
Same here.

[2022-06-13 08:13] ChristianGrete0770 commented on #698
Same here.

[2022-06-13 08:15] paschalidi commented on #698
+1

[2022-06-13 08:15] link-jc commented on #820
Same here.

[2022-06-13 08:16] Teakowa commented on #698
Same here.

[2022-06-13 08:16] Beyarz commented on #820
Same here.

[2022-06-13 08:20] ingridkindem commented on #698
+1. Any estimated time for when this issue is fixed? It's blocking deployment

[2022-06-13 08:37] olea-devops commented on #698
encountered the same error.

updated our runner from v2 to v3

[actions/setup-java@v3](https://github.com/actions/setup-java)

[2022-06-13 08:39] weirui88888 commented on #698
I tried it, you can turn off the npm cache first, it seems to work :cry:

[2022-06-13 08:40] somallg commented on #698
+1

[2022-06-13 08:44] prajithp13 commented on #698
+1

[2022-06-13 08:44] hailzhang commented on #698
+1

[2022-06-13 09:07] rafed-bs23 commented on #698
+1

[2022-06-13 09:15] FranciscoKloganB commented on #698
+1 (two projects)

[2022-06-13 09:20] aronhoyer commented on #820
relating to this, should this maybe fail the action instead of just logging a warning?

[2022-06-13 09:27] paschalidi commented on #698
They just returned server back alive. It works without any changes in the codebase

[2022-06-13 09:28] grasshoppergn commented on #698
A possible workaround may be to add `continue-on-error: true` to the step, so if the cache service fails, the action still continues.

[2022-06-13 09:30] grasshoppergn commented on #698
jobs still failing :(

[2022-06-13 09:36] nicolas-sicard-adeo commented on #820
question: should this be an error instead of a warning as it will impact the rest a workflow?

[2022-06-13 09:39] ekm1 commented on #698
this is not ideal as we usually expect the cache to continue forward. I think the warning should be actually an error.

[2022-06-13 09:53] grasshoppergn commented on #698
In my case it is an error:
[code]
results in
[code]

[2022-06-13 09:55] TheBeachMaster commented on #698
See https://github.com/actions/cache/issues/820

For now, the workaround is to disable caching in your workflows - if possible

[2022-06-13 10:01] TheBeachMaster commented on #698
https://github.com/actions/cache/issues/820

[2022-06-13 10:04] moonpiderman commented on #698
@TheBeachMaster Thanks Bro :)

[2022-06-13 10:06] danijelgrabez commented on #820
+1

[2022-06-13 10:13] sugarandmagic commented on #698
that's a lot of work for an org with 4k repos :(

[2022-06-13 10:38] Kurt-von-Laven commented on #820
[Here](https://github.com/ScribeMD/pre-commit-hooks/runs/6859571223?check_suite_focus=true) is a reproduction with debug logs enabled for your convenience.

[2022-06-13 10:42] ReshaSD commented on #820
This shouldn't be an error. Is my case I can make workaround and check
[code]
But if this would be an error - whole deployment will fail.

[2022-06-13 10:59] anunay-sanuk commented on #820
same. +1

[2022-06-13 11:00] ujjwal-deswal commented on #820
same +1

[2022-06-13 11:00] petervmeijgaard commented on #820
As @LuudJanssen stated:

[2022-06-13 11:01] mohammedazfar-sanuk commented on #820
+1

[2022-06-13 11:07] foxylion commented on #820
I also would highly suggest that this action should be more resilient regarding service outages in the backing caching infrastructure. The builds would most probably just work if the cache action would do "nothing" when the caching backend can't be reached.

The workaround provided by @ReshaSD might be okay if you've a single workflow. But we have hundreds of workflow and it is not suitable to mod

[2022-06-13 11:21] RWilliams-MicronAgritech commented on #820
Hey guys, for a temporary fix. Find cache: 'npm' and simply comment this line out and bypass caching.

Hope this helps 👍

[2022-06-13 11:22] mohammedazfar-sanuk commented on #820
for maven any suggestions ?

[2022-06-13 11:24] maurobringolf commented on #820
If anyone has a workaround using https://github.com/ocaml/setup-ocaml, I'm happy to hear it :v:

[2022-06-13 11:26] grasshoppergn commented on #820
try adding `continue-on-error: true` to the setup step

[2022-06-13 11:30] michaelniemand commented on #820
for a yarn build this will actually go to the next step which then fails because the dependencies aren't there

[2022-06-13 11:39] madhan-mettle commented on #820
Seems like the issue is gone. Atleast for me

[2022-06-13 11:40] RSickenberg commented on #820
https://www.githubstatus.com/ has now the outrage marked.

[2022-06-13 11:54] tiwarishub commented on #820
👋  team, we are seeing issues with Github Action cache service. We are looking into it. ``actions/cache`` should not fail as we throw only warning if there is some issue in cache service  There must be other ``actions/setup-*``  https://github.com/actions/setup-java/issues/343 and https://github.com/actions/setup-node/issues/516 which are using caching service and they might be throwing error inst

[2022-06-13 12:01] sugarandmagic commented on #820
little freudian slip 😂

[2022-06-13 12:27] jas88 commented on #820
In general I would say a cache error like this should be treated as a cache miss rather than an error condition - any workflow where caching is actually essential (ie the failure really should be an error) is surely an exception, if one exists at all?

[2022-06-13 13:02] genisd commented on #810
We have this issue as well if we use self hosted runners hosted in europe.
At the same time usiing the Github provided runners I don't get this :/

Anybody else who's getting this using own runners?

[2022-06-13 13:12] guergana commented on #820
same problem.

[2022-06-13 13:20] Indronil commented on #820
Hi,

I am having the same issue in my CI system just started occurring today for the first time. It was working fine without any issue until Friday.

Run actions/setup-node@v2
Found in cache @ /opt/hostedtoolcache/node/14.19.3/x64
/usr/local/bin/yarn --version
1.22.[18](https://github.com/viacomcbs/vcap-platform-applications/runs/6860584429?check_suite_focus=true#step:3:19)
/usr/local/bin/yarn cac

[2022-06-13 13:36] anuragc617 commented on #820
Hi all, the issue has been mitigated. Please confirm the same. Thanks for your patience 🙇

[2022-06-13 13:45] sakulstra commented on #820
Partially, some ci runs seem to work, some still error with `Error: getCacheEntry failed: Cache service responded with 503`

[2022-06-13 13:47] foxylion opened #821 "Action should pretend a "cache miss" on networking issues"
Underlying infrastructure issue for GitHub artifacts cause a lot of issues for workflows depending directly or indirectly on `@actions/cache`. See https://github.com/actions/cache/issues/820 for details.

I would highly suggest that this action should be more resilient regarding service outages in the backing caching infrastructure.

The issues of today would most probably not be visible if the ca

[2022-06-13 13:59] genisd commented on #820
It seems to be recovering here. I see successful runs since about ~10 minutes ago

[2022-06-13 14:11] sakulstra commented on #820
@tiwarishub  seems to work again.

[2022-06-13 14:41] matthew-gill commented on #820
[Here's the official incident from GH](https://www.githubstatus.com/incidents/6r4sms3hcj3x)

It's resolved. Confirmed from my side and commentary above seems to confirm it.

Suggest we go ahead and close this issue out.

[2022-06-13 14:42] #820 closed

[2022-06-13 15:08] foxylion commented on #821
@aparna-ravindra, thank you for bringing this up. I misunderstood how the `@actions/setup-...` and `@actions/cache` action are related.

I've created two issues on the affected actions:
https://github.com/actions/setup-java/issues/344
https://github.com/actions/setup-node/issues/518

[2022-06-13 15:08] #821 closed

[2022-06-13 22:26] alex996 commented on #561
The docs are misleading and/or unclear. This actions doesn't cache `node_modules`, it caches global package data. See #620

[2022-06-14 21:15] sayjeyhi opened #822 "README Implementation Examples are broken"
README `Implementation Examples` url are broken on [actions page](https://github.com/marketplace/actions/cache), for example open this one:

On actions page it is like this:
https://github.com/actions/cache/blob/examples.md#node---npm

On Github Readme file it is like this:
https://github.com/actions/cache/blob/main/examples.md#node---npm

a `main/` is missing on upper URL

[2022-06-14 22:26] daniel-nagy opened #823 "Cache Not Restored if Created on Base Branch"
Given the following branches,

`main -> base-1 -> base-2`

Caches created on `base-1` cannot be restored on `base-2`. However, according to the documentation it sounds like this should work.

This is enough to reproduce.

[code]

`base-1` is able to restore the cache create by `main` but `base-2` is not able to restore the cache created by `base-1`.

[2022-06-15 08:36] #531 closed

[2022-06-15 12:58] Magellol commented on #319
We're running onto this issue as well. We have two workflows:

- `build.yml` which creates a deployment on Github with a `ref` attached to the current commit being built
- `deploy.yml` which runs `on event: deployment` and actually deploys the app

Currently we'd want to restore yarn dependencies on `deploy.yml` but the `action/cache` is skipped because of the aforementioned issue so it takes long

[2022-06-17 11:24] janisz opened #824 "Add timeout"
Add timeout for retrieving data from cache. Here I have example when it took over 5h. It wil be great if I can set a limit to 1 minute
https://github.com/janisz/DU/runs/6930686406?check_suite_focus=true

[2022-06-17 17:08] vsvipul commented on #656
Closing as duplicate.

[2022-06-17 17:08] #656 closed

[2022-06-18 19:20] beendonbrown commented on #695
A [car cleaning](www.blacktiedetailing.com) app model. It can provide bookings, select cars and location to locate, and other features to place order.

[2022-06-19 00:42] TimonLukas commented on #815
Thank you for the solution! I created an action that uses `mktemp -d` to create a temporary workspace, and wanted to implement caching for a specific resource.

One thing I also stumbled across - don't use `path: ${{ symlink }}`, as this will cache the symlink itself, but not the files below it. Either specify a file, a deeper path, or a glob.

[2022-06-22 01:05] sammcj commented on #811
This is occurring again on the creation of cache

![Screen Shot 2022-06-22 at 11 04 40 am](https://user-images.githubusercontent.com/862951/174921571-ba010519-9d5d-4d5f-aca9-ae530c545940.jpg)

[2022-06-22 01:08] sammcj commented on #809
This is still causing us issues.

![Screen Shot 2022-06-22 at 11 05 49 am](https://user-images.githubusercontent.com/862951/174921671-802a8ed1-97a9-4a88-b4d9-d4df5837c79f.jpg)

[2022-06-22 01:15] sammcj commented on #809
We have logged an Enterprise support ticket for this, reference 1677362

[2022-06-22 03:30] dulong41 opened #830 "cannot resolve $path in path"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2022-06-22 04:32] vsvipul commented on #830
@dulong41 Please edit the issue description explaining more about the issue you are facing.

[2022-06-22 06:33] ankith26 opened #831 "Allow optionally testing for `cache-hit` without restoring old cache"
First of all, thanks to the maintainers and contributors who keep this project up, which helps make CI cache handling simple! 🥳

## Use case

I have a build matrix with 5 jobs, that need to access (but not write) a common cache.
To update this cache, I have a job that this matrix depends on (that runs before it). This job restores cache and populates cache on a cache miss, so that subsequent jobs

[2022-06-23 06:24] wrexbe commented on #752
@vsvipul To restore the cache, the ubuntu server takes 16 seconds, and the windows server takes 2 minutes, and 29 seconds.
https://github.com/space-wizards/space-station-14/runs/7017334343?check_suite_focus=true

[2022-06-23 06:56] phlummox commented on #705
Vipul: documentation is supposed to document the *intended* behaviour of a piece of software. As an outsider to this project, I don't know what you (or other) contributors *intend* the glob behaviour to be, unless you tell me. So I don't think it would be a good idea for me to open a PR to add this to the docs.

If you *tell* me what the intended behaviour is, then I suppose massage that into some

[2022-06-24 02:34] erwan-joly opened #833 "cache doesn't work with github workspace directory"
Hi, I'm trying to cache the whole workspace to fetch it between jobs.
Unfortunately it seems like the local directory can not be cached

Using . doesn't work (it cache 22B)
[code]

Using ${{ github.workspace }} doesn't work (it also cache 22B)
[code]

the only solution I found which work is to list all the files/directory

[code]

[2022-06-24 05:57] #830 closed

[2022-06-24 06:11] aparna-ravindra commented on #833
Thank you for the report. I was able to reproduce this. From the first look, it appears that there is a bug while converting the cache paths to relative paths for compression in the [toolkit](https://github.com/actions/toolkit/blob/46231a7da3ee695120e08c7b111173131245fa5e/packages/cache/src/internal/cacheUtils.ts#L42).  I will debug the cause and get back.

Contribution are welcome as this will mo

[2022-06-24 18:44] rfay commented on #580
Since I had to go through this entire process again with a new runner, I added these notes to the GitHub Workflow:

this step will fail to properly create the cache.

[2022-06-25 18:43] EpsilonAlpha commented on #31
I run into the same issue: tried to cache /var/lib/docker with the result after cleanup (which means saving the cache I guess):

[code]

Donno if I made a mistake on the workflow file in the Cache Step:

[code]

[2022-06-25 18:53] Kurt-von-Laven commented on #31
No, you didn't make a mistake. Please give [docker-cache](https://github.com/marketplace/actions/docker-cache) a try.

[2022-06-25 19:33] EpsilonAlpha commented on #31
Thanks, I wanted to try it out before reporting back and works good, but not what I expected:

- The first run with docker-cache took whooping 8m6s, I guess it needed to build up the cache. Acceptable imo for the initial build.
- The second run with docker-cache took 1m50s.
- But for comparison: Without any caching method the workflow (which builds the image) runs in 26s till 35s.

So caching is f

[2022-06-25 20:32] Kurt-von-Laven commented on #31
Apologies; I overlooked the fact that you were looking for Docker layer caching, which indeed is not the intended purpose of docker-cache. As your experiment demonstrated, docker-cache is geared towards those who are pulling images, not building them. I suggest using [the official Docker build push action](https://github.com/docker/build-push-action), which performs layer caching and/or hosting yo

[2022-06-25 20:39] EpsilonAlpha commented on #31
No Problem, that's why I tested it out if it would work for my use case. And thanks for the Build Push Action and the GitHub Container Registry. Maybe the speed from a GH-Runner to that registry is faster than pushing to resources outside.

I will also try out, if a image hosted on GCR can be pulled down faster than Docker Hub, thanks for the idea 👍🏼 this maybe also speed up the process if it work

[2022-06-25 21:06] Kurt-von-Laven commented on #31
Yes, credit to Thai Pangsakulyanont [for his excellent blog post](https://dev.to/dtinth/caching-docker-builds-in-github-actions-which-approach-is-the-fastest-a-research-18ei) showing that pulling from GHCR is as fast as pulling from the cache, but since it's a pure `docker pull`, you don't even need the subsequent `docker load` step required when restoring from the GitHub Actions cache. Similarly,

[2022-06-26 08:25] johnico opened #837 "How can I cache based on package-lock in case of tag (bump a verison)"
i am  tagging a version using npm version prerelease that bump the version tag in package.json
but then i lost the cache because package.json has been changed

is there any option to make the cache working if only package.json version has changed ?

i am using the example

[code]

[2022-06-26 12:34] airtonix opened #838 "A better golang cache recipe for ASDF users"
[code]

[2022-06-27 11:40] jontze commented on #810
I encountered this behavior now as well multiple times. The first time the cache download was stuck for 6 hours. As it happens only rarely non-deterministic I can't provide any debug logs nether the link to the workflow as it's a private repo.

For me this occurred during using the cache feature of [actions/setup-node](https://github.com/actions/setup-node#caching-global-packages-data) which inter

[2022-06-27 12:37] vsvipul commented on #837
@johnico For this use case you'll need to extract the package.json version in a step prior and can store it in the environment and use that in the key in the cache step, but I wouldn't recommend that as cache should depend on dependencies and not on the app version.

[2022-06-27 12:41] vsvipul commented on #2
Good News folks, we have shipped the delete caches by key and delete cache by id APIs which will help you to delete caches for a repository. This is in addition to the API which lets you list caches for a repository. Go ahead and try it out and let us know feedback if any in this issue itself.
Here are the official docs-
https://docs.github.com/en/rest/actions/cache#delete-a-github-actions-cache-f

[2022-06-27 12:45] kotewar commented on #810
We suspect an issue with the Azure SDK and we've opened an issue for the same here -
https://github.com/Azure/azure-sdk-for-js/issues/22321

[2022-06-27 13:11] hovancik commented on #2
If anyone creates action with this, please, share :)

[2022-06-27 14:58] ssbarnea commented on #324
I wonder if anyone tried messing the file permissions on the host before caching occurs, so the current user can rewrite the system cache. It is bit of security nightmare but it might work and it would happen only on CI.

[2022-06-28 02:53] nguyentoanit commented on #810
This happened in my repo as well. 😞

![image](https://user-images.githubusercontent.com/19872073/176081891-d30dc3be-10c6-4eba-b720-c6c5072bd5d2.png)

[2022-06-28 05:55] vsvipul commented on #2
@Be-ing Eventually yes, this will be brought to UI as well, but we don't have an expected ship date for that. Keeping this issue open for that particular reason.

[2022-06-28 10:42] ssbarnea commented on #105
@vsvipul I checked the API and works nicely but it does not allow me to get any information about what is included inside the cache archive, not to download it.

Lets take a look:
[code]
Ok so we know the key, size and date, but what is inside? Without knowing the list of files with their sizes from the archive we cannot really say we inspected the archive. We need info like this in order to decid

[2022-06-28 10:56] vsvipul commented on #105
@ssbarnea Hi! Unfortunately, downloading or viewing files inside the cache archive is something we are not targeting in the near future.

For your use case, I would suggest you to ssh into the runner, and inspect the directory paths which you mention in the cache step directly. There is not supposed to be any case in which files on runner are different from what we cache in our action.

Please let

[2022-06-29 03:25] ichina commented on #810
same happening to our repo as well, self-hosted macOS arm64
<img width="662" alt="Screen Shot 2022-06-28 at 16 20 03" src="https://user-images.githubusercontent.com/1898138/176344547-2f6157ad-39ce-4574-bcff-669eb62a8914.png">

[2022-06-29 04:21] aparna-ravindra commented on #710
Possibly related to - https://github.com/actions/runner/issues/1899

[2022-06-30 03:49] 1633605 opened #839 "Gradle build failure at cache due to file lock"
We are using action/cache for gradle builds and below is the action snippet defined in yaml.

   - name: Setup Gradle Dependencies Cache
      uses: actions/cache@v2
      with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts') }}

In case we have two commits where build has progressed, If the gradle build step is still o

[2022-06-30 18:12] bishal-pdMSFT commented on #788
@devminded can you please help me understand the use case better?

If I am not wrong, the dependencies get updated for every build and that means the old files go away. And hence the cache also will only have latest files.

Is this problem more with runtimes and tooling where multiple versions may exist side by side? If so then the problem may be much less impacting as such version changes would n

[2022-06-30 19:13] bishal-pdMSFT commented on #757
That is already possible with `cache-hit` [output](https://github.com/actions/cache#outputs). It is set if a cache has been restored with exact matching key. If it is not set, then it is a good idea to run the install/build steps.

Agree. Any failure in unarchiving should be handled more cleanly.

[2022-06-30 19:19] krpatter-intc opened #840 "Explicitly document how to have cache always updated."
Add to Readme the best-known-method for making sure you save your cache information

It would be worth spelling out in the README the details mentioned here:

https://github.com/actions/cache/issues/342#issuecomment-673371329

for how to support the ability to always work with and then update a cache

[2022-06-30 23:52] devminded commented on #788
Not sure if I have misunderstood something in how the cache-mechanism works.

As far as I understand, a cache-hit is simply that we found a cache with a matching key, that is then restored. How we calculate this key each build will affect if we restore the cache or not.

The issue is that for example maven/gradle saves all the dependencies, toolchains, wrappers, etc. in a directory. Gradle for exa

[2022-07-01 02:46] lorenzolewis opened #841 "Using Caches in JavaScript"
I'm trying to retrieve a cache in JavaScript using `@actions/cache`. I am currently getting this error:

`getCacheEntry failed: Cache Service Url not found, unable to restore cache.`

Doing some research, I'm seeing this is due to ACTIONS_RUNTIME_URL, ACTIONS_RUNTIME_TOKEN and ACTIONS_CACHE_URL environment variables not being available in node (source: https://github.com/nektos/act/issues/329, not

[2022-07-01 05:29] bishal-pdMSFT commented on #534
@lhotari Not only that, now you can use API to get the list of caches, their sizes and which refs(branches) are they for. https://github.blog/changelog/2022-06-27-list-and-delete-caches-in-your-actions-workflows/.
Hope this helps to create more transparency. Feedback welcome.

[2022-07-01 06:09] bishal-pdMSFT commented on #788
@devminded looks like your ask is to be able to update a cache. Something similar to #342 ?

Essentially you want to:
- Use a more static key rather than a hash based e.g. `gradle-jdks-${{ runner.os }}`
- Restore existing copy of cache
- Run gradle to update dependecies/tools etc
- Update the existing cache with updated content
- Set custom eviction for certain directories to keep the cache from g

[2022-07-01 06:43] bishal-pdMSFT commented on #327
FWIW, Actions has exposed APIs to be able to delete a cache. See the changelog - https://github.blog/changelog/2022-06-27-list-and-delete-caches-in-your-actions-workflows/

[2022-07-01 07:34] dulong41 opened #842 "update cache periodically"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2022-07-01 08:05] bishal-pdMSFT commented on #735
@J-B-Blankenship @budarin @Goooler if these workflows are running on pull request trigger then they will run on the merge branch and hence won't be able to access cache created by other PRs.
Can you please check if that is the issue here?

[2022-07-01 08:14] bishal-pdMSFT commented on #633
Not allowing cache across PR branches is by design to not allow cache poisoning by a malicious PR. You can still use cache from base branch (or even the default branch) in the pull request branches.

[2022-07-01 08:40] budarin commented on #735
In my case the workflow is running on pull request

[code]
but in my case the problem was solved by simplifying calculation the key from:

[code]
to:
[code]

[2022-07-01 10:21] devminded commented on #788
I understand that it goes into one large tar that gets packed at the end of the build. The problems is just that that the source for the tar is a bunch of directories that our build tools fills with stuff but are unable to clean due to being based on timestamps and the cache pack-unpack mechanism seems to do something with the timestamps.

I guess I will do what I wrote in my original post and bas

[2022-07-01 14:34] N-Usha commented on #632
## List and delete cache APIs are now available for managing your Actions Cache

You can now get more transparency and control over dependency caching in your actions workflows using our [cache list and delete APIs](https://docs.github.com/en/rest/reference/actions#cache) to:

- list all the Actions caches within a repository and sort by specific metadata like cache size, creation time or last acc

[2022-07-01 22:45] maplessmann commented on #753
I was getting the `EACCES: permission denied` error and fixed it by running containers as user 1001

[code]

According to this [old version](https://github.com/cypress-io/github-action/blob/f5efdfe91a2747d406452ca70ebb3b0fac3e898f/README.md#eacces-permission-denied-open-githubhomecachebinary_statejson) of the `cypress-io/github-action` README:

[2022-07-01 22:46] BeyondEvil opened #843 "Cache miss even tho key exists"
We're using `actions/cache@v3` in self-hosted runners (ubuntu-based).

We get a cache hit in one branch:

[code]

Then, roughly an hour later, in a different branch (same workflow), we get a cache miss _for the same key_:

[code]

Why?

No other workflow runs took place between them.

This is the action we're using:

[code]

usage:

[code]

[2022-07-03 06:37] vsvipul commented on #837
Closing this now. Feel free to reopen if you have any more questions.

[2022-07-03 06:37] #837 closed

[2022-07-03 06:54] vsvipul commented on #841
@lorenzolewis Yes, the ACTIONS_CACHE_URL which we currently use in[ this line](https://github.com/actions/toolkit/blob/c5278cdd088a8ed6a87dbd5c80d7c1ae03beb6e5/packages/cache/src/internal/cacheHttpClient.ts#L38) in our action will not be available locally.

They won't be undefined when running the action on a GitHub Runner.
e.g. I tried this on a repo -
[code]

and it did print the value in the lo

[2022-07-03 06:54] #841 closed

[2022-07-04 07:41] Gelassen commented on #824
@janisz you might be interested to add a timeout for your job as a whole:

[code]
Ref: https://github.com/boitakub/Bogadex/blob/main/.github/workflows/main.yml

[2022-07-04 08:02] Gelassen opened #844 "Timeout waiting for emulator to boot. caused by actions/cache@v3"
Sometimes github CI has an issue to launch avd from cached instance. `Timeout waiting for emulator to boot.` I have to remove your github action step from my build as it is not reliable to smooth CI process as it should be. I also consider option the issue might be on my side due not correct configuration.

In case you would like to investigate this issue, here [a link on commit](https://github.co

[2022-07-04 12:57] leiferksn opened #845 "Reading cache from /usr/local/lib fails with permission denied"
I'm trying to cache C shared libraries, that live in usr/local/lib. Writing the cache is working, but reading from it fails because the action is not able to untar the cache in /usr/local/lib. I wasn't able to find a way to specify permissions for this action, so I'm creating an issue for this.

This is my configuration:

    - name: Cache Check Library
      id: cache-libcheck
      uses: actions

[2022-07-04 13:17] iamolegga opened #846 "Wrong ref set for cache on release.type.published with explicit branch checkout"
I have a workflow that is triggered on release

[code]

And I set ref to main branch explicitly for checkout action, because cache with tags' refs are cannot be reused for feature branches, see #556 . Checking out for main branch is ok for me as it's the same code version as the last release.

[code]

Anyway the cache is created with the tag ref

[code]

And for the feature branch the cache is not

[2022-07-04 14:12] iamolegga commented on #846
Anyway for those who struggle I found a workaround, make a separate workflow with

[code]

then the cache is created successfully.

[2022-07-06 19:33] frantzmiccoli opened #849 "Caching regardless of build status"
I would like to cache the built result regardless of the built status, i.e. also in case of failure. Unfortunately if something fails in the action "Post ..." steps for the cache action is not executed.

I tried to set and if statement: `if: success() || failure()` on the cache action step itself but it doesn't impact the later "Post" step execution.

[2022-07-07 20:24] chenrui333 commented on #2
@vsvipul thanks for adding this endpoint, but however I am not able to use CACHE_ID to do the cache pruning.

[code]

[2022-07-08 11:27] kuhnroyal commented on #843
Had same thing happening, the cache API uses a version query param which you can see when you enable debug logging for Github Actions.

The version is just a hash of the cache paths and the compression algorithm, see https://github.com/actions/toolkit/blob/main/packages/cache/src/internal/cacheUtils.ts#L87

For me the version hash while the cache key was correct.
Solution was to uniformly install

[2022-07-09 14:06] BeyondEvil commented on #843
Interesting, thanks for sharing! I will turn on debug logging and check.

Question: When you say "node" do you mean the runner?

[2022-07-10 13:18] sakulstra commented on #841
@vsvipul I've been running into the same issue.

Here's the public ci run: https://github.com/bgd-labs/seatbelt-for-ghosts/runs/7270831627?check_suite_focus=true#step:5:10
The action code: https://github.com/bgd-labs/seatbelt-for-ghosts/pull/8/files#diff-1a63c1d4f25b94d81a0f8bc14aec9135e1b569b02467bbd0ccd31dbb75ca3ba0R49
The code being called in the action: https://github.com/bgd-labs/seatbelt-for

[2022-07-10 15:06] kuhnroyal commented on #843
Yea

[2022-07-10 17:51] vsvipul commented on #843
@BeyondEvil Yes, this is expected. You will get a cache miss on a different branch if the cache save happened on a different branch with the same key, unless the save happens in the main/master branch, in which case all the other branches can access it. Please let me know if you have any more questions.

[2022-07-10 18:21] szepeviktor opened #852 "New option to create `path`"
Currently `mkdir -p $cache_path` should be issued to create directory specified in `path`.
`cache` does not create the `path` directory if it doesn't exist.
https://github.com/szepeviktor/Valinor/runs/7272413993?check_suite_focus=true

Please consider adding a `"create_directory": true` option to create directory specified in `path`.
Thank you!!

[2022-07-10 19:36] BeyondEvil commented on #843
Interesting, I'll have to check if the key exists in the main branch, as neither of the two branches involved here are main.

[2022-07-11 05:42] kotewar commented on #852
Hey @szepeviktor 👋🏽
The directory creation should happen at build time, and should be created by the build program itself.
Can you please specify why you would want a new directory to be specifically created?

[2022-07-11 05:45] kotewar commented on #838
@airtonix do you want to create a PR by updating this in the readme docs so that we can have more eyes on this?

[2022-07-11 16:18] pdotl commented on #809
Hi @sammcj , we investigated the above issue and noticed that it occurs for tar version < `1.30`.  From our testing of `Amazon linux 2` instances come with tar version `1.26` and we were able to recreate the issue. If you could please test after upgrading the tar version at your end and see if it resolves the issue?

[2022-07-12 23:14] sammcj commented on #809
Hi @pdotl, Amazon Linux 2 is a standard operating system managed by AWS - the latest tar that is available is 1.26.

Given that Amazon Linux 2 is one of the most widely used distros and the main supported distro on AWS I think the Action should detect the OS or at least the tar version and pass the correct compression flags.

[2022-07-14 15:43] pdotl commented on #809
Hi @sammcj, we are working on getting this fixed. Meanwhile, here are a few workarounds that should get your workflows running:

1. Upgrade tar to a version above 1.26. The latest version can be fetched from https://www.gnu.org/software/tar/ and then compiled and installed manually.
2. If possible, use the newer Amazon Linux 2022 image for your runner as it comes with tar 1.34 preinstalled.

[2022-07-14 21:57] K-Kielak commented on #817
I encountered the same issue and it seems to happen commonly - and there are different reasons behind that:
https://github.com/actions/cache/issues/591
https://github.com/actions/cache/issues/790
https://github.com/actions/cache/issues/815 - not relevant in your case but maybe will help someone else that stumbles upon this issue

For me it was because "Job B" was running inside a debian container

[2022-07-15 01:43] guppy0356 commented on #823
Hello @daniel-nagy . I faced the same problem. I think this comment is the answer.

link: https://github.com/actions/cache/issues/843#issuecomment-1179771256

[2022-07-16 15:17] gasiordev commented on #810
Same problem here - gets stuck at 99.9% randomly.

[code]

[2022-07-17 21:50] Bariscankibarcekici opened #860 "my feature request"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2022-07-18 19:16] bigdaz commented on #839
Instead of using `actions/cache`, I recommend that you use https://github.com/marketplace/actions/gradle-build-action which provides the same functionality with a number of other benefits. https://github.com/gradle/gradle-build-action#why-use-the-gradle-build-action

[2022-07-19 15:18] achernya commented on #629
I was able to work around this issue by creating the following file in my repository as `gtar`:

[code]

and adding the following step to my job before the cache action:

[code]

[2022-07-19 15:42] 1633605 commented on #839
@bigdaz  Thanks for the input. We do not wanted to use the build specific action as the commonalities vary from action to action here.
our focus was to build individual build private actions which will also publish data about the build artifact, once this is done we wanted to common action which support caching for different build types.

[2022-07-19 23:10] sammcj commented on #809
@pdotl I spoke with the platform owners at the company I'm doing work with and they're not keen to switch from Amazon Linux 2 to Amazon Linux 2022 (very confusing versioning / naming from AWS here!) as it's in beta and not yet GA with Amazon - https://aws.amazon.com/linux/amazon-linux-2022/faqs/

If possible, use the newer Amazon Linux 2022 image for your runner as it comes with tar 1.34 preinstal

[2022-07-20 17:42] JavierSegoviaCordoba opened #862 "Windows path validation error"
It works in the rest of the runners but fails on Windows.

Log:
[code]

Code:
[code]

[2022-07-20 17:47] antdking commented on #638
I think there's a second issue here, in that Github Actions isn't passing Step Outputs into the string formatter for the post-step.

[Example](https://github.com/datapane/datapane/runs/7434551949?check_suite_focus=true):

<details>
<summary>Restore-cache</summary>

[code]

</details>

<details>
<summary>Save-cache</summary>

[code]

</details>

We also use step outputs in the `path` section.
Is th

[2022-07-21 00:25] mxxk commented on #803
Hmm, I also ran into the same issue but when I investigated the workaround I see that:

1. The `path` input passed to `actions/cache@v2` is literally the string `${DIR}`.
2. `actions/cache@v2` depends on the Actions Toolkit library `@actions/cache`, which does not perform any additional expansion of environment variables.
3. Since `${DIR}` does not exist as a literal path, the cache file saved is

[2022-07-21 05:54] LaurentDardenne opened #865 "[Question] Is it possible to fill in 'Path' from a variable?"
I'm trying to pass a path list, created in a Powershell script, as a parameter :
[code]
[code]
After multiple tries I couldn't find the syntax ( formated string,Json, FromJson(),...).

Is it possible? And if so, how ?

Note that some syntaxes do not trigger an error in the action call step but in the 'end step', and in this case the message does not specify what the 'Path' parameter receives, whic

[2022-07-21 22:34] mxxk commented on #803
Actually, the rootcause here may not be specific to `actions/cache` at all. I suspect it lies with `actions/runner`, but per the instructions in their new issue template, I posted on https://github.community/t/inputs-passed-to-action-are-blank-in-post-script/262930 to confirm that this is indeed an issue with the runner.

[2022-07-25 19:31] pramodka-revefi commented on #109
Since this task is still open, What's the current best practice for bazel caching + github actions? Does someone have a snippet similar to the one below that they can share?

[2022-07-25 19:50] AkbarTrilaksana opened #875 "cache"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2022-07-26 12:30] guppy0356 opened #877 "Update documentation in Github Docs"
It sounds like the branch `feature-b` can access to caches created in branch `feature-a`. I could observe that it could NOT access to caches created in branch `feature-a`.

This documentation is wrong.

[2022-07-26 12:33] guppy0356 commented on #877
Hello @vsvipul . https://github.com/actions/setup-node/issues/539 helps you.

[2022-07-26 12:35] guppy0356 commented on #877
Upps. https://github.com/actions/cache/issues/823 also helps you.

[2022-07-26 13:19] Sytten commented on #354
Is there any plan to make this official? It would be very beneficial for the community

[2022-07-26 16:26] Sytten commented on #638
To further comment on this, actually no inputs are correctly passed to nested composite action post hooks.
I believe the parent context is used so if the name are the same it will work.

[2022-07-26 17:27] pramodka-revefi opened #878 "Failure in absolute path resolution"
While using the cache action, I noticed that we are seeing the following warning in the Post Cache phase:

`Warning: Path Validation Error: Path(s) specified in the action for caching do(es) not exist, hence no cache is being saved.`

Due to this, our cache never actually gets saved. However, upon debugging further, I realized that the path does in fact exist on the runner. Workflow.yml steps used

[2022-07-26 22:19] devversion commented on #878
I think the issue here is that the cache paths are quoted. This seems to break the path resolution, thinking it's a relative path

[2022-07-27 16:20] MrAlex94 commented on #720
@vsvipul - we are heavy users of BuildJet and this action and this is probably the most common issues we face.

Here are some runs for you:
https://github.com/WaterfoxCo/Waterfox/runs/7544425566?check_suite_focus=true#step:5:83
https://github.com/WaterfoxCo/Waterfox/runs/7543708504?check_suite_focus=true#step:5:436

We'll get this issue every week, as we push a lot of builds out. No rhyme or reaso

[2022-07-27 17:39] pramodka-revefi commented on #878
Lovely 🤦 . Removing the quotes was sufficient and fixed the issue for me. Thanks @devversion.

In the course of trying to debug this issue I came across multiple examples from other folks who had also used quotes and didn't even know that their CI cache isn't working.

Examples:
https://github.com/bazel-contrib/rules-template/blob/main/.github/workflows/ci.yaml#L45
https://github.com/AcademySoftwa

[2022-07-27 18:37] vsvipul commented on #878
Thank you @devversion for answering this. @pramodka-revefi  Yes, we can explore the enhancement to remove quotes during path resolution. I'll take a look.

[2022-07-27 18:38] vsvipul commented on #877
Yes, we are going to update this. This only works for default branch. Thank you for reporting.

[2022-07-28 04:38] jacksongoode commented on #2
Has anyone figured out how to use this endpoint? I keep getting `Missing required query parameter key (HTTP 422)`.

[2022-07-28 05:09] vsvipul commented on #2
@jacksongoode key is an essential query parameter. Can you please tell how are you passing it and I might be able to help more.

[2022-07-28 05:24] jacksongoode commented on #2
Sure, I'm just not even sure where to put it in regards to the docs.

[code]
I'm not sure where the key ought to go in this query?

[2022-07-28 06:51] vsvipul commented on #2
@jacksongoode Try this -
[code]

[2022-07-28 06:56] jacksongoode commented on #2
@vsvipul Thanks!

[2022-07-28 07:04] vsvipul commented on #2
I'll look into getting this changed in the docs.

[2022-07-28 16:02] kylrth opened #881 "setting to keep cache even if job fails"
I use this action for the cache of [htmltest](https://github.com/wjdp/htmltest/), a link checker. Often it'll get through plenty of links before finding a broken one, but because the job fails the cache isn't saved (and so if I re-run the action it has to check all the links again). I'd like for there to be a setting to keep the cache even if the job fails.

[2022-07-28 17:09] #875 closed

[2022-07-28 18:10] tyrannosaurus-becks opened #882 "Cache restoration intermittently hangs at +90%"
We are intermittently seeing our cache restoration hang when its completion is over 90%. It can hang for over 10 minutes, so we've set a timeout of 10 minutes to terminate the jobs. When our developers retry the workflow run without any change, the run often succeeds.

Sample logs:
[code]

Here is the code that has triggered this cache restoration. It is inside a matrix step that triggers 20 concu

[2022-07-29 01:15] oddhack commented on #2
Clarification request: can I use this action to force pulling a new image from Dockerhub used in the 'container:' field of a job? Currently having problems with a out-of-date cached image vs. a PR that requires the latest Dockerhub version.

[2022-07-29 09:53] bishal-pdMSFT commented on #882
This is an issue in Azure storage SDK and we are following up with [them](https://github.com/Azure/azure-sdk-for-js/issues/22321).

[2022-07-29 15:46] tyrannosaurus-becks commented on #882
Thanks for the update! I will follow that ticket.

[2022-07-29 18:32] asottile-sentry commented on #882
perhaps as a bandaid can #824 be considered?

[2022-07-31 12:11] LaurentDardenne commented on #865
see https://github.com/potatoqualitee/psmodulecache/issues/26#issuecomment-1199094643

[2022-07-31 12:11] #865 closed

[2022-08-03 01:26] sammcj commented on #809
Any update on this bug?

[2022-08-03 08:18] rhcarvalho commented on #849
See https://github.com/actions/cache/issues/92 (and https://github.com/actions/cache/issues/46)

[2022-08-04 06:00] aminya commented on #843
Cache restoration is very buggy. I am pretty sure that "restore-keys" doesn't help much. It misses even if I make a basic change.

[2022-08-04 06:02] kotewar commented on #843
@aminya, can you please share examples (key and restore key) of when you saw the cache miss, along with the branch the cache was present in and the branch that trying to restore it?

[2022-08-04 06:11] aminya commented on #843
Here is the configuration. The matrix values all exist.

[code]

[2022-08-04 06:13] kotewar commented on #843
Thanks @aminya. Did you try to restore keys across different branches? Please refer [this](https://github.com/actions/cache/issues/843#issuecomment-1179771256)

[2022-08-04 06:14] aminya commented on #843
Well, surprisingly enough, the cache misses across different branches. But I am aware of that bug, and this was not that.

[2022-08-04 06:17] aminya commented on #79
This cache miss across different branches is creating anti-patterns in the way people work. It has been my experience that people do not create different branches or smaller pull requests because then the build starts from scratch!

[2022-08-04 06:25] #809 closed

[2022-08-04 06:25] #833 closed

[2022-08-04 07:47] kotewar commented on #843
Is your repo public @aminya ? If yes please share the link where you saw the failures. Else please run in DEBUG mode and share the logs here.

Moreover FYI, we recently released APIs for [cache management](https://docs.github.com/en/rest/actions/cache#list-github-actions-caches-for-a-repository) and [CLI extension ](https://github.com/actions/gh-actions-cache)for the same. Requesting you to please

[2022-08-04 11:57] guppy0356 commented on #877
@vsvipul
I think you need to mention https://github.com/actions/cache/issues/823. Is this same problem?

[2022-08-04 12:19] vsvipul commented on #843
Closing this. Tracking the docs change for the same at https://github.com/actions/cache/issues/823 .

[2022-08-04 12:19] #843 closed

[2022-08-04 12:19] vsvipul commented on #877
Closing this. Tracking docs change for the same at https://github.com/actions/cache/issues/823 .

[2022-08-04 12:19] #877 closed

[2022-08-04 12:20] vsvipul commented on #823
This will require a docs. We are going to update it. Thank you for reporting. #877 and #843 also have the same issue. I've closed those and using this issue for tracking.

[2022-08-04 13:40] pdotl commented on #833
Hi @erwan-joly , the above version is for actions/cache npm module and not for the actions/cache action. We are yet to merge toolkit changes into the `actions/cache`. Once done, you should be able to test and use the same. I'll post an update here once done.

[2022-08-04 18:37] aminya commented on #843
Not a good feature. It is undermining GitHub's biggest feature which is making a pull request.

https://github.com/actions/cache/issues/79#issuecomment-1204808650

[2022-08-04 23:25] sammcj commented on #809
Hello,

I'm not sure why this ticket was closed @pdotl - the issue has not been resolved?

Using the latest available version of Actions/Cache as of two hours ago:

[code]

[2022-08-05 07:07] pdotl commented on #809
Hi @sammcj

Apologies, the ticket was autoclosed probably because of the commit description citing the issues. The changes are about to be merged and will be available in the latest version of actions/cache today.

[2022-08-05 07:39] pdotl commented on #833
@erwan-joly ,please test now with the latest version of actions/cache using `actions/cache@v3`.

[2022-08-05 07:40] pdotl commented on #809
@sammcj please run your workflows with the latest available version of cache using `actions/cache@v3`. The issue should now be resolved.

[2022-08-05 08:44] erwan-joly commented on #833
@pdotl I confirm it's now fixed 💯

[2022-08-05 12:08] GC-Configit opened #888 "Cache made on Ubuntu works on Ubuntu but fails on windows"
Hi,
Today I have got the odd error, that when I'm trying to retrieve cache from ubuntu on windows it just fails. When I'm trying to get the same cache on Unbutu - everything works fine. The same YAML code was working yesterday, I even rescheduled that builds and a problem also occurred for them.

I'm using action/cache@v3 some logs are below:

Received 0 of 267052384 (0.0%), 0.0 MBs/sec
Received 8

[2022-08-05 12:32] aparna-ravindra commented on #888
Hi @GC-Configit
Could you please more information such as
- are you using hosted runner or did the workflow run on self-hosted runner?
- If the workflow is running on a public repo, could you share the link? If not, is it possible to share the [debug logs](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging) for this step?
- What is the version of the

[2022-08-05 13:10] GC-Configit commented on #888
I have found the issue. When I forced actions/github to use @3.0.5 it's working. So I see the issue with the lasted release. For @3.0.5 build is working fine
* I'm using host runner
* I'm not sure if I can provide for you debug logs, I need to ask my management
* I'm using ubuntu-lastest and windows-2022

[2022-08-05 13:18] vsvipul commented on #888
This might have been caused by https://github.com/actions/cache/pull/887 . We are looking into it. Thank you.

[2022-08-05 13:38] vsvipul commented on #888
@GC-Configit Can we get the workflow file (cache relevant parts only) which you are using? Thank you.

[2022-08-05 13:58] GC-Configit commented on #888
#just the step that is used for create cache ${{inputs.CACHE_KEY_BASE}} contains only base part of the key
- name: Cache sub-domain-name
  uses: actions/cache@v3
  with:
    key: ${{inputs.CACHE_KEY_BASE}}-sub-domain-name
    path: test-binaries/sub-domain-name

# next here I retrive cache by using this set of actions

- if: ${{ runner.os == 'Windows' }} # Workaround required when using cache acti

[2022-08-05 14:56] whfuyn commented on #92
Any progress on this one? I have the same problem as mentioned in https://github.com/actions/cache/issues/92#issuecomment-562204290.

Would this feature be officially supported?

[2022-08-05 14:57] pdotl commented on #888
Hi @GC-Configit, I see you are using this step as a workaround.
[code]

It should not be required as the `cache` action should work as it is on both environments. If you could try to run your workflow after removing this step?

[2022-08-05 15:37] GC-Configit commented on #888
@pdotl
I've tried with out that workaround and it still failing for windows and for ubuntu its fine. Just output is like it not hitting cache key but that's odd because the same cache key is used in ubuntu and there is working fine

[code]

[2022-08-05 17:58] pgrivachev commented on #888
I have the same issue. The only difference I create cache on windows-latest and restore it on macos-latest. It stopped working today. Removing workaround didn't help.

[2022-08-06 07:45] GC-Configit commented on #888
@pgrivachev I just downgraded the version, just try to change from the `actions/cache@v3` to `actions/cache@v3.0.5` (previous release) for last release 3.0.6 the cache is just not working  :/

[2022-08-06 10:13] mladedav commented on #888
I've also encountered the issue.

I created cache on ubuntu and it is available for ubuntu and macOS but not Windows. I've created a matrix for my cache creation job and now the two caches seem to be distinct while having the same cache keys.

So whatever changed it seems to only affect windows runners.

[2022-08-06 16:25] claycoleman commented on #843
I'm seeing a problem with this issue as well. I checked the caching docs for cache scopes and saw it says not only the `default` branch should be checked, but also the parent or upstream branches. Here's a quote from [the docs](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#matching-a-cache-key):

However, the behavior i'm seeing is that i'm still get

[2022-08-06 17:24] GC-Configit commented on #888
@mladedav just try to add this workaround for windows before you are  using `actions/cache@v2` , it should be probably working:
[code]

[2022-08-07 06:37] sammcj commented on #809
@pdotl just did a test build - no more errors! Thank you 😄

[2022-08-08 14:53] pdotl commented on #888
@GC-Configit @mladedav, so without using the workaround(using gnu tar instead of bsd tar in windows), the expected behaviour is caching on windows can cause a different cache save even with same key due to difference in compression algorithm used. Please see here in [README](https://github.com/actions/cache#cache-version). So you were correct that the above workaround is required to reuse the same

[2022-08-09 00:53] rfay opened #891 "v3.0.6 introduced dependency on zstdmt (not just zstd) for cache creation, fails on Windows"
As of v3.0.6 this apparently requires zstdmt, not just zstd, which is a major departure. I have not found any Windows binaries for zstdmt. I'm not sure it's available elsewhere either.

This is what happens:

`##[debug]Archive Path: C:\drud-actions-runner\_work\_temp\ff5371eb-5f15-4474-8084-5df62fc397fa\cache.tzst
"C:\Program Files\Git\usr\bin\tar.exe" --posix --use-compress-program zstdmt -cf cac

[2022-08-09 07:36] xzpix opened #892 "UHello @vsvipul . https://github.com/actions/setup-node/issues/539 helps you."
Hello @vsvipul . https://github.com/

actions/setup-node/issues/539 helps you.

_Originally posted by @guppy0356 in https://github.com/actions/cache/issues/877#issuecomment-1195423472_jj

[2022-08-09 07:46] #892 closed

[2022-08-09 12:55] kotewar commented on #891
Hi @rfay
Thanks for reporting this. We are aware of the issue with Windows machine and the work is already in progress for the same.

The issue being tracked [here](https://github.com/actions/cache/issues/888#issuecomment-1208234966).

[2022-08-09 22:13] N-Usha commented on #632
### Now manage Actions cache from your terminal with the new [GitHub CLI extension for cache](https://github.com/actions/gh-actions-cache#readme):  📢 📢

    gh extension install actions/gh-actions-cache
This extension is built on top of [GitHub APIs for cache management](https://docs.github.com/en/rest/actions/cache)

[2022-08-10 12:25] Phantsure commented on #881
@kylrth cache save happens at the end of workflow run. This happens because the directory/file cached can change till the end of run. Saving cache after every step would create a lot of requests which many users won't want.

[2022-08-10 12:27] Phantsure commented on #824
This is an issue in Azure storage SDK and we are following up with [them](https://github.com/Azure/azure-sdk-for-js/issues/22321). You track it there

[2022-08-10 12:27] #824 closed

[2022-08-10 17:20] kylrth commented on #881
That's not what I'm asking for. The checkout action has a post run step that runs regardless of the success of the run, as you can see in [this example](https://github.com/kylrth/kylrth.github.io/runs/7692731142?check_suite_focus=true). What I'd like is for there to be a setting where the same behavior can happen for the cache action.

[2022-08-10 23:46] sammcj commented on #809
FYI - after fixing this our Java builds have gone from 20-25mins right down to 5-7mins! 🎉

[2022-08-10 23:46] sammcj commented on #811
FYI - after fixing this our Java builds have gone from 20-25mins right down to 5-7mins! 🎉

[2022-08-11 09:48] kotewar commented on #810
Hi all,

We have released a new `actions/cache` version `v3.0.7` that doesn't run the stuck runner for 6 hours, instead aborts the download and gets out of the cache restore step in case the download doesn't complete within an hour. Users using `actions/cache@v3` need not do any change and should see this behaviour in their action runs starting today.

[2022-08-11 18:32] Kurt-von-Laven commented on #810
This is a big improvement; thank you! Is there any way to configure the timeout? 1 hour still hurts when our workflow typically runs in ~2.5 minutes.

[2022-08-12 05:41] kotewar commented on #810
Hi @Kurt-von-Laven 👋🏽
For now we've set it to one hour as we didn't want any customer to face issue in case their self hosted runner runs on a low network bandwidth. As an improvement on top of this, we're looking for options to make this better and configuring timeout is one of the options.

We'll get back regarding this soon. Thanks for your patience. 😊

[2022-08-12 18:44] w-bonelli commented on #2
Thanks for this feature. Would it be possible to add the ability to match partial keys, like the cache action's `restore-keys` attribute [does](https://github.com/actions/cache/blob/main/examples.md#simple-example)? It would be nice to be able to invalidate any cache entries matching a prefix. Naively, this seems compatible with the API's current implementation, since it already returns a list `ac

[2022-08-13 05:41] kotewar commented on #882
Hi there, 👋🏽

We have released a new `actions/cache` version `v3.0.7` that doesn't run the stuck runner for 6 hours, instead aborts the download and gets out of the cache restore step in case the download doesn't complete within an hour. Users using `actions/cache@v3` need not do any change and should see this behaviour in their action runs starting today.

This has been done as an intermittent fi

[2022-08-13 10:59] bishal-pdMSFT commented on #556
@richardscollin as @Phantsure mentioned earlier, a tag trigger run would be able to use caches created in the base branch. This I think is a fairly reasonable thing as usually there would be CI runs happening on base branch and hence a reusable cache would exist in most cases when a tag is created.

The other case is for example v2 tag using cache from v1 tag. That is not supported on same lines a

[2022-08-13 11:05] bishal-pdMSFT commented on #846
@iamolegga a tag can only read caches from the base branch from which it was cut off. This is by design. A branch can share cache from its base branch but a tag is not that.

[2022-08-13 17:02] iamolegga commented on #846
I create release (= git tag) on _main_ branch, within this release workflow I create cache, this is still _main_ branch. But this cache on _main_ branch which creation was triggered by release is not available for feature-branches that are rebased on top of it. I'm not sure that such behavior is correct. If so, I believe this should be mentioned in the docs if it's not  yet

[2022-08-14 08:20] bishal-pdMSFT commented on #845
@leiferksn if you are using self-hosted runner then please ensure that the runner has access to this file.
For GitHub hosted runner, I tried to cache a random file (I did not see `/usr/local/lib/libcheck.so.0.0.0` in there) in `/usr/local/lib` and it worked for me
[code]

[2022-08-14 08:24] bishal-pdMSFT commented on #846
This is mentioned in the [doc](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache)

This same behavior holds true for tags as well. Agree that tags behavior is explicitly not mentioned in the docs but probably it was not deemed necessary to do so separately.

[2022-08-14 08:25] bishal-pdMSFT commented on #846
This is mentioned in the [doc](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache)

This same behavior holds true for tags as well. Agree that tags behavior is explicitly not mentioned in the docs but probably it was not deemed necessary to do so separately.

[2022-08-14 08:27] bishal-pdMSFT commented on #842
@dulong41 would you like to update the description to include your problem/question?

[2022-08-14 10:51] bishal-pdMSFT commented on #839
@1633605 Are you running multiple runners on same machine? Otherwise not sure how two workflows can use same file.

If you really want to run two workflows concurrently, I would suggest to use runners on different machine or use GitHub hosted runners.
If you are okay with not running two workflows at the same time, you can use [concurrency](https://docs.github.com/en/actions/using-jobs/using-concu

[2022-08-14 11:22] iamolegga commented on #846
For me it's not clear that cache created on default branch is not accessible for child branches when it's created by the tag. It's up to you, if you believe that this should not be mentioned in the docs let it be so

[2022-08-14 14:39] claycoleman opened #897 "Cache scoping miss even parent branch key exists and should match"
I'm seeing a problem with child branching matching their parent branches during the cache check. I checked the caching docs for cache scopes and saw it says not only the `default` branch should be checked, but also the parent or upstream branches. Here's a quote from [the docs](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#matching-a-cache-key):

How

[2022-08-14 16:30] 1633605 commented on #839
@bishal-pdMSFT Yes you are right, we are running multiple runners on same machine. Having multiple runners is always a file lock issues as the disk is shared among the workflows. Even if we use concurrency then challenge is about the jobs getting into pending state as we operate at big scale.
Do you have any insight how would be behaviour in case of pods where the cache directory is mounted via EF

[2022-08-15 10:35] Exelord commented on #831
I have exactly the same case. That would be really welcome feature!

[2022-08-15 13:15] asottile-sentry commented on #882
@kotewar can that be configured down to say ~3 minutes?  an hour is pretty bad still

[2022-08-17 09:46] Phantsure commented on #881
@kylrth actions/checkout runs for cleanup. If cache was allowed to save cache even on job fail then it could create corrupted cache, in most cases. If there is more request for this feature we would work on this.

[2022-08-17 10:41] jorgemo-fever commented on #881
I'm pretty sure that there already is more than a request for this feature (https://github.com/actions/cache/issues/92).

[2022-08-17 10:45] Phantsure commented on #881
Thanks @jorgemo-fever for pointing that. We have internal discussions related to these issues.

[2022-08-17 10:53] kotewar commented on #807
Hi @matthieu-foucault, are you still facing this issue?

[2022-08-17 11:19] kotewar commented on #852
@szepeviktor, would you like to share the use case for this suggestion so that we can prioritise it?

[2022-08-17 11:21] kotewar commented on #882
@asottile-sentry, we are working on making it configurable to the user so that everyone can set their own timeouts... Hope that works?

Also we're tracking this issue [here](https://github.com/actions/cache/issues/810), hence closing this one.

Thanks for your patience everyone! 🙇🏽

[2022-08-17 11:21] #882 closed

[2022-08-17 11:22] szepeviktor commented on #852
@kotewar On the very first run the cache is empty and many tools do not autocreate directories, mainly sub-subdirectories.
And these tools are failing because of the non-existent directory structure.

[2022-08-17 11:24] kotewar commented on #852
Thanks for bringing this up @szepeviktor.

Can you please share these tools as well so that we can use the same for testing the behaviour and make the necessary fixes?

[2022-08-17 11:28] szepeviktor commented on #852
Okay. I respond within a day.

[2022-08-17 15:33] szepeviktor commented on #852
https://github.com/CuyZ/Valinor/blob/master/infection.json.dist#L8
Using a **non-existent** temporary directory for `infection/infection` causes an error.

[2022-08-17 21:19] kylrth commented on #881
I guess I'll close this issue then since it's a duplicate of #92. It's a shame this hasn't been added because there is definitely interest.

[2022-08-17 21:19] #881 closed

[2022-08-18 11:31] pro100svitlo opened #898 "Cache not requesed (not found) between workflows"
Hi!

I have a shared (called) workflow, which I am reusing between few others. As an input param it receive a sha for the commit code. This sha is used as a key.
As result, when I run sequently those workflows with same sha
- for the first one cache obviously is empty, so caching happened
- for the second workflow cache should be present, but it missed

Here is my called workflow
[code]

And here

[2022-08-18 12:02] aparna-ravindra commented on #898
Hi 👋🏽
Caches are scoped to the branch on which they are created ([more details](https://github.com/actions/cache#cache-scopes)). Are both the runs you mentioned on the same branch?

Would you be comfortable replicating the issue on a public repo and share the workflows here so that we can take a look at the logs?

[2022-08-18 12:57] pro100svitlo commented on #898
Hi  Aparna,

thanks for answering.

Yes, will provide a separate repo today/tomorrow and ping you here 😉

[2022-08-18 13:06] pro100svitlo commented on #898
Okay, looks like I found the problem:

one trigger happens when `pull_request` receive a new commit (PR from branch `A` to `dev`)
the other one happens when `push` done to branch (push commit to branch `A`)

But probably `pull_request` event is not on the same scope, even the branch that will be merged is the same.

Is it right?

[2022-08-18 16:57] claycoleman commented on #897
any chance i could get a look at this issue @vsvipul ?

[2022-08-19 02:25] aparna-ravindra commented on #898
That sounds correct. You can list the caches in your repository (using [this api](https://docs.github.com/en/rest/actions/cache#list-github-actions-caches-for-a-repository) or [this gh-cli extension](https://github.com/actions/gh-actions-cache)) to see if there are two caches with same key belonging to different scopes to confirm this.

Here, the order in which caches are created matters. The cach

[2022-08-19 08:30] pro100svitlo commented on #898
Thanks.

I used CLI extension and indeed, I have 2 different cache...

Is there any way to reuse it?

[2022-08-19 09:13] aparna-ravindra commented on #898
Unfortunately, no. Caches created on the default branch can be reused in other branches. But no other reusability is possible.

[2022-08-19 09:18] pro100svitlo commented on #898
Got it 😉

Thank you for your help!
Have a nice day!

[2022-08-19 09:18] #898 closed

[2022-08-19 10:21] Jamie- commented on #840
To add to this, the docs say:

https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#example-using-the-cache-action

It does not specify that the cache is *only* stored on a cache miss.
Confirmed in the code here:
https://github.com/actions/cache/blob/main/src/save.ts#L36-L41

If the code is stay as-is, the main docs need to be updated to clarify this.

[2022-08-19 10:36] bishal-pdMSFT commented on #846
Got it. It wouldn't harm to mention this explicitly in the docs. Let me plan for that.

[2022-08-19 10:41] #845 closed

[2022-08-19 10:43] #842 closed

[2022-08-19 10:49] bishal-pdMSFT commented on #840
Agree, we can probably update both README as well as the docs.

[2022-08-19 11:10] DaSchTour opened #901 "Skip download option (allow only to check if cache exists for the given key)"
I have some jobs that do actions if cache there is a cache hit or not or add stuff to the cache, but they actually do not care about the content of the cache. I think it would be convenient to have an option not download the content of the cache.

[2022-08-19 11:35] bishal-pdMSFT commented on #839
Persistent storage will have locking problem if multiple runners are trying to share it. To avoid it you may want to have cache directory inside `GITHUB_WORKSPACE` which is specific to each runner.

On a sidenote, I am not sure why you need to use cache when using EFS as that can server similar purpose. And even in case of EFS, you would probably need to have one EFS per runner to avoid locking. I

[2022-08-19 11:55] 1633605 commented on #839
@bishal-pdMSFT We are using DinD kind of setup where everything is clean state after each workflow execution, however we are persisting the workspace to persistent store(workspace). Based on your suggestion we will try out of having cache directory in workspace folder which is very much confined/restricted to single thread of the runner instance.

[2022-08-19 12:06] bishal-pdMSFT commented on #817
@underyx this is happening because of two different OS containers. Due to that, in Job A case `zstd` is used for compression. Can be inferred from logs
[code]

In Job B, `zstd` is not found and hence it falls back to `gzip`
[code]
Whenever compression technique is different, the caches are treated as unique even though cache-key is same. Otherwise the de-compression will fail.

The fix is either t

[2022-08-19 12:09] bishal-pdMSFT commented on #817
Btw, there is a `gh` cli [extension](https://github.com/actions/gh-actions-cache/#list) available now which lets you get more details about caches. This is very useful to investigate such cases where it can tell that there are multiple unique caches with same cache-key.

[code]

[2022-08-19 12:26] vsvipul commented on #897
@claycoleman Is the parent branch in this case the default branch?

[2022-08-19 12:32] bishal-pdMSFT commented on #817
We can update the error message to spit out more details about cache miss. Keeping the issue open.

[2022-08-19 13:05] bishal-pdMSFT commented on #749
Reading through the thread, looks like there a solution built using https://github.com/cachix/install-nix-action. If there is no requirement on cache action, I will close this issue.

[2022-08-19 15:44] claycoleman commented on #897
@vsvipul in this case, no, the branches were structured as follows:

develop
L-> parent
    L-> child

[2022-08-19 16:01] R-VdP commented on #749
@bishal-pdMSFT I don't see how this is solved in install-nix-action ? There is an option to use Cachix, which is really useful, but not entirely the same use-case.
I'd still be interested in being able to easily cache the nix store between CI runs without needing to upload all store paths to Cachix.

[2022-08-19 16:26] vsvipul commented on #897
@claycoleman Yes, currently this behavior is not supported in the action. We only support restore when the parent branch is a default branch. The docs should be updated for this and we are tracking the same change in https://github.com/actions/cache/issues/823 .

[2022-08-19 18:59] claycoleman commented on #897
ah, dang. if it's possible, it would be great to support this because we will almost certainly run out of cache space for our caches if we can't restore the parent branch's cache. also, our CI doesn't run on our main / default branch

[2022-08-22 09:09] pdotl commented on #888
@GC-Configit @mladedav we have patched the latest version of `actions/cache` to work again with the above workaround. Please test with the latest version using `actions/cache@v3` to see if it works for you.

[2022-08-22 09:38] pdotl commented on #891
Hi @rfay, the tar compression(zstd) on Windows while using the above workaround should now work. Please test and let us know if the issue is now resolved.

[2022-08-22 09:53] kleisauke commented on #891
I can confirm that v3.0.8 fixes the issue, see e.g. commit https://github.com/kleisauke/wasm-vips/commit/50c7d00b8e22986a096aab8c55737bfca245c1b8.

[2022-08-22 09:57] pdotl commented on #891
Closing the issue since a fix has been deployed and tested. Feel free to re-open if recurs.

[2022-08-22 09:57] #891 closed

[2022-08-22 14:09] pdotl commented on #752
Hi @Adnn  @wrexbe @mattjohnsonpint, we do understand. Actually `zstd` is disabled on Windows due issues with bsd tar, hence the slowness of restore. While we look into it, you could use the workaround suggested [here](https://github.com/actions/cache/issues/591) to improve your hosted windows runner performance. This would enable zstd while using GNU tar.

TLDR; Add the following step to your work

[2022-08-22 14:15] pdotl commented on #442
Hi @shichen85 @coreysharris @Safihr. As @aminya observed, `zstd` is disabled on Windows due issues with bsd tar. We are working on a longer term solution. You could meanwhile use the workaround suggested [here](https://github.com/actions/cache/issues/591) to improve performance. This would enable zstd while using GNU tar.

TLDR; Add the following step to your workflow **before** the cache step. Th

[2022-08-22 15:29] Yikun opened #904 "Cache missed but still restore"
https://github.com/panbingkun/spark/runs/7938361118?check_suite_focus=true#step:4:8

<img width="1022" alt="image" src="https://user-images.githubusercontent.com/1736354/185959460-b6c602a5-5be6-4a60-b69b-c46416379c9f.png">

Any thoughts?

[2022-08-22 15:49] #345 closed

[2022-08-22 15:53] kotewar commented on #810
Hi everyone!

We have introduced an [environment variable](https://github.com/actions/cache#environment-variables) `SEGMENT_DOWNLOAD_TIMEOUT_MIN` to configure the timeout for the [download of the cache segment](https://github.com/actions/cache#cache-segment-restore-timeout). This way you won't have to wait for 1 hour anymore!

Hope it helps! 😊

[2022-08-22 16:03] vsvipul commented on #897
@claycoleman Sure, we can keep this as a feature request for now, but as this will require some major changes. Don't expect anything in the near future. Let's keep track in the same issue at https://github.com/actions/cache/issues/823 . Please leave a comment there for this feature request. I'll close this issue.

[2022-08-22 16:03] #897 closed

[2022-08-22 16:29] #904 closed

[2022-08-22 16:44] asottile-sentry commented on #810
@kotewar is there a reason this was done as an environment variable rather than a job input (`with`)? it's a little awkward to feed environment variables into `uses:` unless I'm missing something obvious

[2022-08-22 17:08] jontze commented on #810
Actually you can set an environment variable for one specific step by using `env:` (in this case for the `actions/cache@v3` step.
An example can be found here: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsenv

[2022-08-22 17:19] kotewar commented on #810
Thanks @jontze :)

@asottile-sentry, we are still investigating the root cause of this issue and waiting for Azure team to release a fix.
Due to this, we haven't got a clarity yet on why the download would get stuck intermittently, so we don't know if we would need this timeout feature forever or only till we fix it.

So while the investigation is in process, we have introduced this option to make

[2022-08-22 18:41] Safihre commented on #442
For my project this makes it even slower.. Taking 1:20 min to unpack 35MB 😑
Anyone else having better results?

[2022-08-22 19:05] pdotl commented on #442
@Safihre could you share your workflow file or the sample run or logs if possible?

[2022-08-22 19:58] pdotl commented on #442
@Safihre I'm not sure what the issue is. I tried running a similar albeit simpler workflow to yours using the `syphar/restore-virtualenv@v1.2` action but still found windows to be reasonably fast for ~24 mb cache. https://github.com/pdotl/sample-cache-demo/actions/runs/2906664955

[2022-08-22 19:58] asottile-sentry commented on #810
afaict (or maybe the schema I'm using isn't up to date) `env` isn't supported on `uses` actions in `composite` actions (?) so it makes this a tiny bit tricky

[2022-08-22 20:13] aminya commented on #442
The zstd compression is still disabled on Windows. How does this workaround help?
https://github.com/actions/toolkit/blob/bc4be505973a6a7344bfd71e1b32f77e1755310c/packages/cache/src/internal/cacheUtils.ts#L93

[2022-08-23 00:34] rfay commented on #891
@pdotl I assume we still have to do the bizarre installation of zstd on windows self-hosted runners still, true? Did that make it into docs?

[2022-08-23 09:21] kotewar commented on #810
@asottile-sentry, when authoring a composite action, inputs must be mapped into inner steps using GitHub Actions [expressions](https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions).

So in your case try using something like -
[code]

[2022-08-23 11:46] Adnn commented on #752
@pdotl Thank you for your response. It is encouraging to read this issue will be looked into!

On the other hand, I tried to drop the "Use GNU tar" step you provided, just before the cache action in our pipeline. The step ran and correctly output "Addning GNU tar to PATH", yet I did not observe any noticeable speed-up (but as I am not used to do testing at the workflow level, I may be proven wrong

[2022-08-23 18:20] mattjohnsonpint commented on #752
@pdotl - Thanks.  But like @Adnn, I have to report that changing to gnu tar gave no significant performance gain.

https://github.com/getsentry/sentry-dotnet/runs/7979994529?check_suite_focus=true#step:3:58

As you can see from the timestamps, it took over 5 minutes to decompress.  The same build on Linux and macOS took less than 30 seconds.

I realize that it would require some significant change

[2022-08-25 01:07] xanderdunn opened #909 "Unable to Cache Rust Build Output Due to Unreadable .lock Files"
I have a Rust build in GitHub Action and I'd like to cache the build output. I have:
[code]

In the Post Cache step I see dozens of tar permission errors on .lock files:
[code]

Due to the limitations of the glob pattern matching, as described [here](https://github.com/actions/toolkit/issues/713#issuecomment-1030643364), I'm unable to exclude `*.lock` files, and they're all in different directorie

[2022-08-25 03:43] kotewar commented on #909
Hi @xanderdunn,

Can you please share a public repo with sample workflow and minimal code that I can use to reproduce this issue?

[2022-08-25 06:45] amolenaar commented on #92
+1

We're running a test suite with Hypothesis, a property based testing tool. The database should be saved (cached) on failed runs, so failed tests are replayed on subsequent runs.

[2022-08-25 13:09] xanderdunn commented on #909
Not easily, as it’s a private repository. With some effort I could pull out parts of it.

I think without any reproducing code there is a clear question about how to handle situations where the cache directory has files that should be ignored or skipped. Is there any pattern that could ignore these files? You can see the paths in the output I posted above. Is there an option that would pass `--ign

[2022-08-25 13:10] pdotl commented on #891
@rfay we are adding the above workaround to the docs and will also document installation of `zstd` for windows self-hosted runners. If you are only using Windows self-hosted runners and not doing any cross-os caching as above, `zstd` is not required. The action will fallback to using `gzip` if it does not find `zstd` installed.

[2022-08-25 14:30] GC-Configit commented on #888
On my workflows the problem was solved, thanks @pdotl

[2022-08-25 18:33] #888 closed

[2022-08-25 18:53] rfay commented on #891
Yeah, I do cross-OS caching.

[2022-08-29 10:05] vsvipul commented on #620
This has already been added to Node example at https://github.com/actions/cache/blob/main/examples.md#node---npm . Hence, going ahead and closing this. Thank you for opening this issue.

[2022-08-29 10:05] #620 closed

[2022-08-29 11:51] #705 closed

[2022-08-29 17:09] matthieu-foucault commented on #807
Nevermind, the issue my latest message above is expected behaviour due to misconfiguration of our workflow. Closing this issue, I'll open a new one if I see this happening again with a properly configured workflow

[2022-08-29 17:09] #807 closed

[2022-09-01 12:11] Phantsure commented on #556
@grafolean @richardscollin We have updated the docs to call out the behaviour: https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache

[2022-09-01 12:11] Phantsure commented on #556
Closing this issue as docs are updated

[2022-09-01 12:11] #556 closed

[2022-09-01 16:29] bogdandrutu commented on #901
I would like this as well.

[2022-09-01 19:18] Wambosa commented on #901
I am running into an issue that might just be related to this.
Its unclear to me if I can just explicit set the cache.

The docs say `key` is required :/
In my case, I want to set the cache and not try to download it.
Perhaps it would be nice if `key` became optional and was used to flag explicit set behavior?

[code]

other job
[code]

[2022-09-02 09:52] hx210 opened #914 "Recommendation"
# 缓存:
- 存储使用rclone
- 自定义过期时间

## 在自托管机器中:
- 保留缓存在本地
- 在闲时拉取最新缓存保留在本地
- 仅保留在本地

# Cache:
- Storage using rclone
- Custom expiration time
## In self-hosted machines:
- Keep cache local
- Pull the latest cache at idle time and keep it local
- Local only

[2022-09-02 11:27] Rajalakshmihm opened #915 "SSL issue while using cache feature released in v3.5"
Hi Team,
we recently upgraded our GitHub enterprise self hosted server (on-prem) to v3.5.3
while exploring the cache support [feature](https://docs.github.com/enterprise-server@3.5/admin/release-notes#cache-support-for-github-actions-on-github-enterprise-server-is-now-generally-available) , we observed connection issue between our runner and s3 storage

![image](https://user-images.githubuserconte

[2022-09-03 00:45] trent-boyd commented on #92
This would be extremely useful for my team. We use Next.js. The process goes something like this.

1. Restore the Next build cache
2. Run the Next build (hopefully with cache)
3. Run Cypress tests (which can be flakey)
4. Save the Next build cache.

It would be great to save the Next cache even if the Cypress tests fail. There's a high likelihood that the Cypress tests fail due to flakiness, but s

[2022-09-07 08:57] bishal-pdMSFT commented on #740
This should be possible already unless `restore-keys` does not support context expression which I don't think should the case. What behavior are you seeing here?

This won't be possible as cache cannot be shared across branches even for same commit. https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache

[2022-09-07 12:44] pdotl commented on #580
👋 @rfay, We have added the `zstd` requirement to documentation when using self-hosted runners [here](https://github.com/actions/cache/blob/main/workarounds.md#improving-cache-restore-performance-on-windowsusing-cross-os-caching). Closing this issue. Feel free to reopen if you have followup questions.

[2022-09-07 12:44] #580 closed

[2022-09-07 14:03] pdotl commented on #508
Hi @inbangsa @Makaiza can you try using `cache@v3` and see if it works for you? If not, kindly share workflow logs so we may look into this.

[2022-09-07 14:14] pdotl commented on #362
👋  @milosmns @rikardn @mcg1969 @mzabaluev this behaviour is due to difference in compression algorithms used. Linux and macos use `zstd` but Windows does not due to issues. We have this documented and also a workaround. Please refer to the [documentation](https://github.com/actions/cache/blob/main/workarounds.md#improving-cache-restore-performance-on-windowsusing-cross-os-caching) to if you want t

[2022-09-07 14:14] #362 closed

[2022-09-07 14:25] pdotl commented on #330
👋 @mzabaluev we are currently looking into this. For now you could try [this](https://github.com/actions/cache/blob/main/workarounds.md#improving-cache-restore-performance-on-windowsusing-cross-os-caching) approach if it works for you.

[2022-09-07 15:07] petetnt commented on #92
We have the same use case @trent-boyd for this: failing / flaky end-to-end tests are really hard to debug due to having to re-run build processes: by allowing to cache builds even on failure would speed up this considerably.

[2022-09-07 15:36] milosmns commented on #362
Hey @pdotl, thanks for getting back to this 🙏

Since you just mentioned that there's a documented workaround for this problem, is it possible to make that workaround the default behavior? I ask about this because (at least for me) having cross-os support is the default thing I want when building on multiple platforms.

And if not, it's also ok, but it would be nice to get some reasoning behind the

[2022-09-07 16:00] kindaro opened #918 "Cache miss because of different compression."
I have a deterministic failure: a cache miss across two workflows. It has taken me a whole day to find the fault behind the failure, and still I have no way to help it.

### the setting

I have set up a repository specifically to work on this issue. It will be our running example. <https://github.com/kindaro/release> The logs be my witness.

### the task

The task is to write a workflow `release.y

[2022-09-07 17:28] Elikill58 opened #919 "Keep files in cache but don't use it"
I tried to use this actions as explained [here](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#example-using-the-cache-action) for the exact same use-case (npm).

The time of package keep the same (around 4m 15s). And I just received an email of github that I'm using more than 75% of storage for github actions/package ...

How can I clean all cache, a

[2022-09-07 19:01] pdotl commented on #362
@milosmns there were multiple issues with `zstd` on windows due to which it had to be disabled, causing different cache version on windows. We are looking into restoring the cross-os behaviour as default. Meanwhile, hopefully the workaround helps.

[2022-09-07 19:16] milosmns commented on #362
Awesome, good to know. Cheers.

[2022-09-08 03:04] aparna-ravindra commented on #919
You should be able to list the caches stored for your repository and delete them using either the API described [here](https://docs.github.com/en/rest/actions/cache#list-github-actions-caches-for-a-repository) or using the gh-cli extension [here](https://github.com/actions/gh-actions-cache).

This will also tell you the storage consumed by this action.

FYI, github.com gives 10GB storage for cache

[2022-09-08 04:28] Rajalakshmihm commented on #915
Hi @pallavx - Any updates on the above please?

[2022-09-08 07:15] Elikill58 commented on #919
The mail that I received is talking about something else:

![image](https://user-images.githubusercontent.com/17381066/189058819-eca7393d-1334-4ef3-b2de-ddde172e80b7.png)

[2022-09-08 09:01] aparna-ravindra commented on #919
👋🏽 It is still good to check your cache usage using the links I shared above.
The email you received might not be related. You can check your Actions and Packages usage report by following the doc [here](https://docs.github.com/en/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage).

I hope your question about deleting caches was answered. Closing the issue. Please reope

[2022-09-08 09:01] #919 closed

[2022-09-09 08:03] clxmstaab opened #921 "DX: improve "Cache hit occurred on the primary key 8.0.22-phpstan-result, not saving cache.""
I am using this action and after some debugging found out that I got trapped into a "caches are immutable" problem and I need to apply the [Update a Cache](https://github.com/actions/cache/blob/main/workarounds.md#update-a-cache) workaround.
I also found out, that this is a problem a lot of people have / run into, as the issue tracker suggests.

In case you know a cache is immutable and will not b

[2022-09-11 04:50] bishal-pdMSFT commented on #735
Running through this old thread, I can see two things which probably need to be called out clearly in documentation.
1. The cache uniqueness is also identified by the `path` used. Same cache cannot be used if `path` is different across workflows/runs.
2. PR check runs won't share the cache unless the cache is created by the base branch for PRs

[2022-09-11 05:06] bishal-pdMSFT commented on #749
@R-VdP I was referring to `install-nix-action` based solution proposed by @tpwrules [here](https://github.com/actions/cache/issues/749#issuecomment-1066009534).
Another option which I think does not involve Cachix uploads is to use https://github.com/rikhuijzer/cache-install as mentioned by @rikhuijzer [here](https://github.com/actions/cache/issues/749#issuecomment-1059944800).

The problems assoc

[2022-09-11 05:06] #749 closed

[2022-09-11 05:44] bishal-pdMSFT commented on #638
Since this issue is not specific to cache action and is being tracked in https://github.com/actions/runner/issues/2009, I will go ahead and close it.

[2022-09-11 05:44] #638 closed

[2022-09-11 13:19] tpwrules commented on #749
My solution is unnecessarily slow and complicated.

This issue could be resolved easily by running the untar in the restore with root privileges using sudo. Is this not an acceptable solution?

[2022-09-11 13:25] domenkozar commented on #749
@R-VdP note that Cachix will soon gain support for zstd, massively speeding up the time needed to upload/download store paths.

[2022-09-11 15:36] bishal-pdMSFT commented on #901
@DaSchTour @bogdandrutu not sure I understand the rationale here of just checking existence of cache but not use it. Could you please share some use cases.
Please note that now we have GitHub REST [API](https://docs.github.com/en/rest/actions/cache#list-github-actions-caches-for-a-repository) and `gh` CLI [extension](https://github.com/actions/gh-actions-cache#list) to get a cache metadata by key.

[2022-09-11 16:04] bishal-pdMSFT commented on #918
Thanks for deep investigation and sharing details!

There is a commentary about [cache version](https://github.com/actions/cache#cache-version) in README. Hopefully this was of some help to you!

This sounds reasonable. What makes it difficult is that version is a hash and hence very difficult to make sense of it. It should not end up as more information which is not much useful.

Atleast one reas

[2022-09-11 20:59] kindaro commented on #918
Yes, there is an overview in README, it was somewhat helpful. It would be better if it mentioned where to find out the caches and their hashes. _(A link to GitHub API.)_ It could also point to the function that does the hashing. _(I linked it above.)_ And then the action should report what ingredients went into the hash and the resulting hash whenever it creates a new cache or tries to access an e

[2022-09-12 02:30] kotewar commented on #921
Hi @clxmstaab, thanks for your feedback. So if I understood it right, your suggestion is to add a note regarding cache immutability in the `actions/cache` logs right?

[2022-09-12 07:58] clxmstaab commented on #921
thx for getting back to me.

exactly

[2022-09-12 08:06] DaSchTour commented on #901
@bishal-pdMSFT well it's not really just existence, it's also to "initialize" the cache if needed. The workflow simplfied looks like this.

1. action/cache
2. do something if cache is not hit adding stuff to the cache

If there is a cache hit I skip the second step, if not I add something to the cache. So if the cache is hit I don't care what's actually in the cache. But if cache is not hit I need

[2022-09-12 11:44] JesperTerkelsen commented on #334
I ran into the same thing, for a giant maven build, where we would prefer not to save cache entries outside of master builds, while retaining the ability to restore a cache on the PR builds.

[2022-09-14 07:52] tiwarishub commented on #418
Github hosted runner do have a tar installed on windows. And i think on self hosted we expect to have tar installed(now i think latest version of windows have tar installed natively).

[2022-09-14 08:54] tiwarishub commented on #844
👋  @Gelassen, i think [setup-java](https://github.com/actions/setup-java) folks might help you here. This repo is for Github action actions/cache

[2022-09-14 09:07] tiwarishub commented on #764
👋  @tbhaxor, this is should be possible. We allow cache create from one workflow to restored via other workflow. Can you please give more details or runs which we can look to dig more.

[2022-09-14 09:12] kotewar commented on #909
Currently we don't have any such option.

Are you using GitHub hosted runners or a self hosted runner?

[2022-09-14 13:07] #764 closed

[2022-09-14 13:40] jbreckmckye opened #923 "Caches created on default branch, but are missed on PR branches, despite using the same key"
I have a problem with GHA's cache action in one of my organisation's monorepos. We are storing caches on the default branch, however PRs off that branch - using the cache action with the same key - are getting cache misses.

### Our configuration

The default branch (`develop`) has a GHA config that can be simplified to:

- check out the project
- use `actions/cache@v2` with a key of `${{ runner.o

[2022-09-14 14:35] xanderdunn commented on #909
This is on GitHub hosted actions. We're not doing anything special, custom, or unusual here.

[2022-09-14 15:24] bishal-pdMSFT commented on #923
At a quick glance I can see that "path" is different between the two workflows. Cache uniqueness depends on path apart from key.

[2022-09-14 17:04] jbreckmckye commented on #923
Ah - thanks - this appears to be a new addition to our repository. Let me see if mirroring the path values restores the cache recovery.

[2022-09-14 22:34] dime10 opened #924 "Caching inside GitHub's built-in container support for jobs"
Is there a way to make this action work with GitHub's built-in container support for jobs?

For example the step below results in a cache miss, whereas it would produce a cache hit if run without the `container:` parameter:

[code]

[2022-09-15 07:33] tomekowal opened #926 "Wrong cache restored using cache@v3.0.8"
After upgrading to v3.0.8, we've experienced failing builds.
We were building our app using a matrix with different language versions.

[code]

The build was failing with an error saying that the project was compiled with a higher version of OTP even though:
- matrix.otp-version was in the key
- there was no restore-keys option present, so only exact matches were used

We've deleted all caches usi

[2022-09-15 08:26] kotewar commented on #926
Thanks @tomekowal for reporting the issue.
Can you please specify which version of `actions/cache` you were using before upgrading to `v3.0.8`?

[2022-09-15 08:32] tomekowal commented on #926
`v3.0.7`. I've merged the change to `v3.0.8` on 22-08-2022. At first, I thought that it is a problem with our actions and I only had the chance to investigate thoroughly yesterday.

[2022-09-15 08:46] kotewar commented on #926
This seems to be a very specific use-case. We haven't heard about this issue from any other user yet and we had released this version long time back.

To make it easy for us to investigate, can you please share a public repo with minimal code enough to reproduce this issue?

[2022-09-15 08:51] tomekowal commented on #926
I'll try. We saw the problem occur on more than one repo, so hopefully, it will be reproducible with an empty Elixir/Phoenix project. If time permits, I'll cook something up during the weekend.

[2022-09-15 08:52] kotewar commented on #926
Sure, thank you! :)

[2022-09-15 18:05] developer-guy opened #927 "add section for GitHub extension for cache"
Recently, I was looking for an easy-to-use tool for viewing the cache usage for one of my workflows, then I noticed this[^1] GitHub extension and it helps me a lot, so, I thought that we might add a section to bring people's attention to this tool.

[^1]: https://github.com/actions/gh-actions-cache

[2022-09-17 05:40] Gelassen commented on #844
@tiwarishub, thank you for follow-up. Could you please share your arguments this issue relates to setup-java action rather than actions/cache?

[2022-09-19 16:41] ajmnz opened #928 "Download speed on self-hosted runners is significantly slower"
👋🏼

We've started working with self-hosted runners, but noticed that the download speed when downloading the cache is significantly slower than on hosted runners. Here's the breakdown of what is happening:

- Self-hosted runner version: `2.296.2`
- Cache size: `~300MB`
- Average download speed
  - Hosted runners: `50 MBs/s`
  - Self-hosted runners: `3.5 MBs/s`

Hosted:

<img width="414" alt="Scree

[2022-09-20 15:24] vmarkovtsev commented on #845
I have the same problem: caching files in `/usr/local` doesn't work. The error message is the same. @bishal-pdMSFT we should probably reopen this because in your example you cached a file that always exists.

Example build: https://github.com/athenianco/athenian-api/actions/runs/3091205505/jobs/5000988782 (step "cache libsentry")

[2022-09-20 15:28] ungarida commented on #924
Sadly this topic was brought already time ago in this discussion https://github.com/actions/cache/discussions/709 ... any chance to have a feedback?

[2022-09-20 16:21] vmarkovtsev commented on #845
BTW, this is the workaround. Add the following step **before** the cache step:
[code]

[2022-09-22 10:06] lewiswolf opened #932 "Pipenv failing to locate python version."
My github workflow which uses pipenv has stopped being able to locate python. I've tried to fix this in a couple of places, but have only seemed to make the problem worse. https://github.com/lewiswolf/kac_drumset/pull/17#partial-pull-merging

The error I am concerned about is
[code]

My workflow looks like this:

[code]

The workflow always fails on the last step shown above. This initially was on

[2022-09-22 10:25] aparna-ravindra commented on #932
Hi @lewiswolf,
Could you please help me understand your concern with the cache in this workflow? I see that the cache restored is in the same location as the error message.
1. Are you concerned that certain files are missing in the cache?
2. Could you add a step right after the `cache-pipenv` step to list the files in the path `~/.local/share/virtualenvs` recursively to ensure that the file that i

[2022-09-22 12:19] lewiswolf commented on #932
Deleted the caches using the gh cli extension worked, thanks!

[2022-09-22 17:20] deitch commented on #735
I stumbled across this, thank you for opening it. I was banging my head on the wall for a while.

This affects the ability to use what _should_ be shared common paths. For example, I cannot use:

[code]

(or `$HOME/something`, etc.)

If the `$HOME` will vary across runners, as that gets resolved to the full path. The purpose of `$HOME` as a variable is to abstract those out and have a path that re

[2022-09-22 21:28] Luc45 opened #933 "Dynamic cache key not found under same cache scope"
I have workflow that runs many jobs in a matrix, and calls a workflow to warm up the cache for the matrix:

![image](https://user-images.githubusercontent.com/9341686/191846644-f6bc80f8-6955-4903-a3a2-ac5074582424.png)

In `setup-docker-cache.yml`, I warm up the cache:

[code]

See the `restore-keys`:

![image](https://user-images.githubusercontent.com/9341686/191853447-532365a6-1f1f-4e03-b7f8-d70

[2022-09-22 22:04] Luc45 commented on #933
To make sure there wasn't any rogue trailing spaces at play, I tried to normalize the inputs to test, still no luck:

In the warm-up job:
[code]

![image](https://user-images.githubusercontent.com/9341686/191859548-8536cf46-a98a-487e-8f89-b67ac21705b3.png)

In the matrix:

[code]

![image](https://user-images.githubusercontent.com/9341686/191859515-a0711543-a6ea-490b-9c1f-d509d97d34d1.png)

[2022-09-22 22:14] cclauss opened #934 "Doc link is broken: Caching dependencies to speed up workflows"
The link here is broken.
* https://github.com/actions/cache#documentation and click `Caching dependencies to speed up workflows`

[2022-09-22 22:43] Luc45 commented on #933
It doesn't seem to be directly related to dynamic keys:

In the warm-up job:

[code]
![image](https://user-images.githubusercontent.com/9341686/191859966-ff81c538-48ec-4bf0-9cd6-b7e8fc42755f.png)

In the matrix:

[code]
![image](https://user-images.githubusercontent.com/9341686/191860104-707daff7-530c-4206-85aa-4c0d09e3848a.png)

[2022-09-22 22:45] Luc45 commented on #933
I eventually dropped `restore-keys` entirely and am now matching only direct `key`, I was bursting the cache when the SHA of the image changed, which would achieve a good cache retention, but given the issue above, I decided to use a simple `key` with a daily cache burst to make sure the cache is renewed at least daily.

[code]

Then in the matrix:

[code]

I still don't know what happened. I'm cl

[2022-09-22 22:45] #933 closed

[2022-09-23 00:17] ariefwijaya commented on #782
Why you close this? this happened to me too

[2022-09-23 06:05] aparna-ravindra commented on #934
Thanks for the callout. I will update this.

[2022-09-23 09:44] Elikill58 opened #935 "Add content in cache myself"
I'm actually using [this script](https://github.com/Elikill58/Negativity/blob/v2/setup_spigot.sh) to setup project. After, I can do everything.

I see that I can't run this file only on first setup, so I'm trying to run it everytime, and cache all content created by it.

How can I add in cache all generated files ? Like use bash command to put them on cache ? Because I'm trying on another fork ([h

[2022-09-23 11:45] #934 closed

[2022-09-23 12:10] pdotl commented on #935
Hey @Elikill58, from the above workflow, the `cache` step tries to restore a cache but does not finds any cache with that key. The post cache step is which actually creates the cache in case the cache does not exist, but that step is skipped since the previous step of the workflow failed.

So, after fixing the failing step, a successful workflow run should create the cache for you. In order to hav

[2022-09-24 17:44] IceflowRE commented on #135
Iam also interested in this!

[2022-09-25 09:00] SharonDiskin opened #937 "Caching is not working when workflow is triggered by repository dispatch"
Hi,
I have a workflow that uses cache.
The workflow works fine when it triggered on push/manually with 'workflow dispatch'
but when it triggered with 'repository dispatch' meaning it is triggered by another job, I never get a cache hit and all the dependencies are installed from scratch.

This is my workflow:

[code]

I would also like to mention that In this example you see I am using the local c

[2022-09-25 10:18] deitch commented on #918
I spent way too much time this week trying to figure this out. I am running cache on 2 different runners. The _key_ is identical (includes the git SHA), so it looks like it is saving the same one, but it isn't. I tried different paths, everything. And then I realized that the compression is different, as the self-hosted runner doesn't have zstd.

@bishal-pdMSFT I think what would be enormously hel

[2022-09-26 12:18] alexklibisz commented on #2
I would find it very useful to specify that the cache key can be overwritten from the post action.

Something like:

[code]

Example: I have a cache keyed on "${{ github.workflow }}-${{ github.job }}-${{ github.ref_name }}". Call it "CI.tests.main" for the CI workflow, running the tests job, on the main branch. My workflow pulls the cache and runs the tests, which results in some modifications to

[2022-09-26 18:15] asottile-sentry commented on #810
hmmm I'm seeing a situation where `SEGMENT_DOWNLOAD_TIMEOUT_MIN` seems to not have worked

here's the workflow run: https://github.com/getsentry/sentry/actions/runs/3113974617/jobs/5049272594

it's a little obscured but the environment variable is set at the workflow level here: https://github.com/getsentry/sentry/blob/1ba48063464c06aea8f0a02b7fe797bfb6cab715/.github/workflows/frontend.yml#L15-L17

[2022-09-26 18:27] djaglowski commented on #810
I also just noticed an instance of `SEGMENT_DOWNLOAD_TIMEOUT_MIN` not being respected: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3129583553/jobs/5078874393#step:4:1

[2022-09-26 21:31] lewiswolf commented on #932
Sorry for re-opening, but I had to reset my cache again today to solve for the same issue. What should I do here?

[2022-09-26 22:16] styfle commented on #810
I noticed the same thing: I set `SEGMENT_DOWNLOAD_TIMEOUT_MIN: 5` but its still running after hours instead of timing out after 5 min like i would expect.

https://github.com/vercel/vercel/blob/0e4124f94c94ba7774a8c3ed73d3c0962f70b847/.github/workflows/test.yml#L69-L74

https://github.com/vercel/vercel/actions/runs/3130757219/jobs/5081381465

[2022-09-27 04:02] kotewar commented on #810
Thanks for reporting this. @asottile-sentry, @djaglowski, @styfle.

Did this issue suddenly started popping up this week? and was the `segment timeout` working fine until the last week?

[2022-09-27 05:02] aparna-ravindra commented on #932
Hi 👋🏽

This is a good place to start. What is your understanding so far? Could you enable debug logging to see the content of the cache being restored? That way you could see if there is any missing file in the cache.

[2022-09-27 08:56] mfn commented on #720
We're also users of BuildJet, bless their offerings, and had to disable caching in some of our jobs because of this.

[2022-09-27 10:57] cdce8p commented on #2
I've implemented something similar to cache downloaded dependencies. However instead `github.event.after`, I use a timestamp. The result is the same though. There is never an actual cache hit, the action will just restore the last saved cached.

[code]

Since I only need the latest cache entry, it would save a lot of storage if all old cache entries (which didn't match) could be deleted, with a co

[2022-09-27 13:21] asottile-sentry commented on #810
we've been running identical code (we pin github actions to a sha) so I doubt it has changed.  I've never seen it successfully time out a run but github actions also doesn't give us enough insight into runs to know whether it's worked in the past or not

[2022-09-27 13:47] djaglowski commented on #810
I can't say for sure that I've seen it work.

Speculating - it may well be that the env var never worked for us and that we just hadn't noticed until now. The new _default_ behavior is a such an improvement over the old (1 hour timeout w/ continuation vs 6 hour timeout w/ termination), that this is no longer a constant and obvious problem for us.

[2022-09-28 09:32] anuragc617 commented on #928
@ajmnz is your self-hosted runner hosted in public cloud or on your private network? One thing to note is that hosted runners are present in the same regional cloud network as the blob storage, that's why the download or upload speed is generally high as compared to self-hosted runners.

[2022-09-28 09:42] ajmnz commented on #928
Hi @anuragc617, the runner is hosted in public cloud. More specifically, in a dedicated server with plenty of resources available, where the only thing running are the self-hosted runners.

I understand the region issue, but it just seems odd that there would be such a difference in download speeds, with hosted runners sometimes reaching +100 MB/s and self-hosted runners never going above 4-4.5 MB

[2022-09-29 07:03] SharonDiskin commented on #937
Help anyone?

[2022-09-29 15:48] devbro1 opened #938 "/bin/tar: unrecognized option: P"
I am using a custom container on my self-hosted machine. My local tar command is based on tar and it lacks -P flag.

[code]

Is there a way to control flags on tar command?

[2022-09-29 17:06] klaus993 commented on #928
I'm having the same issue (10 MB/s in self-hosted, 100 MB/s in GitHub hosted runners), and I'm wondering: why isn't the cache hosted locally (in the runner) so there is no need for internet transfer? Where exactly is it hosted?

[2022-09-30 03:44] DrJume commented on #92
I made https://github.com/mxxk/gh-actions-cache-always into a reusable action, which patches the original `actions/cache` to remove the `post-if: 'success()'` predicate.
<br>

**.github/actions/cache-always/action.yml:**
<details><summary>Show file contents</summary>
<p>

[code]

</p>
</details>

You can use it by saving the above action into its recommended location and writing:
[code]
instead of

[2022-09-30 16:50] eastlondoner opened #941 "3.0.9 release is sorting restore-keys alphabetically which dramatically changes behaviour"
This commit changes the restore-keys behaviour so that the order of the keys provided in the workflow is no longer respected when deciding what key to restore.

https://github.com/actions/cache/commit/204fa1ab69e643b91bf310c47cbc10fa2843d7fd#diff-79e9c65d7bc0c52a974cc3ca32be05e5fd06d175bfa85edbcef3af6df03ffe8dR150

This is a significant change in the behaviour and I think it's a bug

[2022-10-02 07:36] henrygab commented on #46
This is too important to go stale.  Commenting to help avoid staleness.

[2022-10-03 02:18] codylerum commented on #788
This is a pretty common issue with maven caches. If you have a dependency of foo-1.0.0.jar and then upgrade to foo-1.0.1.jar the original foo-1.0.0.jar will stay in the cache forever.

I have a step in my builds to remove those dirs from .m2 at the end of the build if the last accessed time is older than that of a dir that I created `/var/oss-test` at the start of the build

[code]

[2022-10-03 06:01] vsvipul commented on #941
@eastlondoner Agreed. This slipped through and should have only been done with paths in the first place. I'll look into this.

[2022-10-03 08:45] pallavx commented on #245
Hi @StephenCleary - Could you help me understand the problem? How is the size gradually-increasing?

[2022-10-03 08:48] pallavx commented on #927
Hi @developer-guy - We have this section in our official [docs](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#managing-caches). I don't suggest adding to the README.

[2022-10-03 08:48] #927 closed

[2022-10-03 08:51] pallavx commented on #822
Hi @sayjeyhi - I see that the NPM example link is working as expected. Are you still facing the issue? If so please provide more details, maybe with a small video.

[2022-10-03 10:18] tbonfort opened #943 "cross-job cache misses"
I have an action setup where a first job creates a cache directory, which is then used by a second jobs which "needs" the first one.

The issue here is that the second job is not picking up the cache that has been created by the first one.

workflow run:
https://github.com/airbusgeo/godal/actions/runs/3173227767

relevant logs:
In first job:
[code]

In second job (ran after first one):
[code]

[2022-10-03 10:21] tbonfort commented on #943
This action setup was working correctly beforehand, and stopped working sometime between september 13th and september 27th

[2022-10-03 10:42] aparna-ravindra commented on #943
Hello 👋🏽
actions/cache action is designed to suppress any failures during cache restore. It considers all failures as cache misses. Since the post cache step says that the key already exists, my assumption is that there is a failure in the `cache gdal lib` step that is currently hidden.

Could you please enable the debug logs using steps [here](https://docs.github.com/en/actions/monitoring-and-tro

[2022-10-03 11:03] tbonfort commented on #943
Hi @aparna-ravindra , thansk for your time. Here is a new run with debug logs enabled: https://github.com/airbusgeo/godal/actions/runs/3173549505 .
The cache misses in the first job are expected as I forced a cache invalidation to produce clean logs (e.g. in [install-gdal (release/3.5)](https://github.com/airbusgeo/godal/actions/runs/3173549505/jobs/5169291199#logs). However the cache miss in the

[2022-10-03 11:48] tbonfort commented on #943
From my bug hunting the artifact version may vary depending on the platform/compression, and the logs do seem to indicate something wrong with zstd:

while checking for the cache's availability, zstd seems to be available (https://github.com/airbusgeo/godal/actions/runs/3173549505/jobs/5169291199#step:4:70) , however when saving the artifact in the case of a cache miss, zstd seems to not be availa

[2022-10-03 11:57] aparna-ravindra commented on #943
Yes. I also found the same. Because of this, the cache version while restoring cache v/s saving cache is different. Is there anything in your workflow that alters the zstd package?

[2022-10-03 12:22] tbonfort commented on #943
ok found the issue, I was deleting /usr/local/bin as a leftover step in my build script, which is probably where zstd was installed on your runners. Something must have changed on the runners this september concerning the check for zstd and/or the location where it's installed, as the issue was not present beforehand. Thnaks for your help @aparna-ravindra

[2022-10-03 12:22] #943 closed

[2022-10-03 14:11] StephenCleary commented on #245
It's because of the `restore-keys` usage. Consider the [nuget example](https://github.com/actions/cache/blob/main/examples.md#c---nuget).

If `packages.lock.json` contains package A, version X, then the first time this is run, there is no cache hit and nothing is restored to the nuget folder. At the end of the run, a cache is created with package A, version X.

Later, package A is upgraded to vers

[2022-10-03 14:33] JonZeolla commented on #932
We've been encountering the same issue for quite a while.  I am seeing some unexpected values in my cache workflow; here is an example of issues I'm hitting in a PR.  Also, I confirmed that my workflow is successful if I simply remove the cache step.

In this screenshot I'm seeing a python version of `3.10.5`, which is accurate.  I'm unable to reproduce the sha-256 hash of my `Pipfile.lock`; manua

[2022-10-03 16:41] farzonl opened #944 "cache download is significantly slower on Mac agents than Linux agents"
On Linux Im seeing cache download speeds between 59-92mb/s. Cache takes 1 min to download
![image](https://user-images.githubusercontent.com/1802579/193631148-43b92720-55c0-4af8-acb3-7838f533a56d.png)

on Mac agents the cache download speeds are 1.2mb/s and i'm only 68% of the way through the job after 29 minutes.
![image](https://user-images.githubusercontent.com/1802579/193631931-d3a24eff-c9d4-4

[2022-10-04 09:24] pdotl commented on #935
Closing this for now. Feel free to re-open if you need further help.

[2022-10-04 09:24] #935 closed

[2022-10-04 09:50] sppears-genieai-tech opened #947 "actions/cache : permissions error for /github/home/.cache/pip : parent directory is not owned or is not writable by the current user"
Hi,

I am trying to use cache pip dependencies using the [python pip example](https://github.com/actions/cache/blob/main/examples.md#python---pip). However I receive the following the permissions error:

[code]

Can anyone help?
On further investigation it seems to work if I do not run the job in a container. If I run the job in a container I get the error message given above. Is there a way to ch

[2022-10-04 16:31] Ev1lbl0w opened #948 "Cache not working on macOS"
Today the CI started failing for macOS systems. I need to obtain a MacOS SDK from a macOS instance, and then pass it to an Ubuntu instance for cross-compilling libraries.

For that I used cache: I firstly extract the MacOS SDK and upload it to a cache directory. The Ubuntu instance then receives that cache and can start compilling.

This worked without issue a few months ago, but as of today it do

[2022-10-04 23:06] Kurt-von-Laven opened #949 "Can No Longer Use From ESM JavaScript Actions"
v3.0.0 was compatible with ESM, but v3.0.4 is not. See ScribeMD/docker-cache#176, which bumps the version of `@actions/cache`. Here is the error we encountered when attempting to upgrade:

[code]

[2022-10-05 11:16] aparna-ravindra commented on #932
@JonZeolla , in line 116 you are seeing the key of the cache that was actually restored. This is one of the "restore-keys" mentioned in the input to the `actions/cache` action as seen in line 96. Further, you also see the list of keys being used in the search in line 110. This is an expected behaviour.

[2022-10-05 11:54] JonZeolla commented on #932
Got it, thank you.

I'm still not entirely clear why my local hash of the lock file doesn't match the hashes I'm seeing in the pipeline, but I can look into that separately. I'm not seeing an issue with actions/cache 👍

[2022-10-05 13:26] #932 closed

[2022-10-06 18:10] devbro1 commented on #938
I ended up installing correct tar command using yum/apt and that resolved the issue.

[2022-10-06 18:10] #938 closed

[2022-10-06 23:36] Velocity- commented on #944
Same here, it makes the cache quite literally useless because that's the point of it. 😓

[2022-10-06 23:38] Velocity- commented on #928
We're seeing the exact same, but just to bust some future "It's your network speed" comments:

![image](https://user-images.githubusercontent.com/3662930/194437218-d04ceef4-0435-46db-a7bb-6d4ffd39173d.png)

There also doesn't seem to be a way to specify a custom endpoint. What can we do?

[2022-10-07 08:06] vtereshyn opened #951 "Post save cache step takes too long"
I have used `actions/cache` for a long time to cache dependencies and Typescript build results. I am moving my monorepo from `yarn` to `pnpm`, so I can save some time on installing dependencies, and I faced an issue probably related to how `actions/cache works.

After moving to `pnpm`, I see that post save cache step takes too long, while before moving to `pnpm`, it took only 5s (see the third scr

[2022-10-07 09:25] aparna-ravindra commented on #494
While the issue still exists, the readme file has changed since then and this example is not part of it anymore. Closing this issue in favour of the issue created in the toolkit repo [here](https://github.com/actions/toolkit/issues/713) to fix the problem.

[2022-10-07 09:25] #494 closed

[2022-10-07 09:34] aparna-ravindra commented on #500
The action does not restrict you from using `pull_request_target` event. However, as explained in the doc for `pull_request_target`, the creator of the workflow should be aware that the caches created (if any) will be associated with the base branch (in most cases this is the default branch and hence can be reused by other workflows).

Since this information is already documented, I do not see the

[2022-10-07 09:34] #500 closed

[2022-10-08 08:38] #508 closed

[2022-10-08 14:08] lvalladares-isp opened #952 "Cross-job cache not working properly"
I have a workflow with two jobs, the first one is to build my app, and the second deploy it to the cloud, at the end of my first job I have this step:

[code]

The post cache job of this step shows it's stored successfully as you can see in the logs:

[code]

And also when I call https://api.github.com/repos/xxxxxx/yyyyyy/actions/caches I see a lot of entries, and one matches with the cache create

[2022-10-08 17:34] Ev1lbl0w commented on #948
Seems like the paths work differently. From what I've gathered, macOS starts with ~ (/Users/runner), while Linux starts on project work dir (e.g. /home/runner/work/retrohub/retrohub).

I claimed this worked before but it's likely I had an old cache that was created using artifacts. Because it got evicted it now had a mismatch on paths.

Either way, it's solved, so I'll close this.

[2022-10-08 17:34] #948 closed

[2022-10-08 18:22] marcindulak commented on #720
This has consequences in incurring additional runner costs, if not timeout limited.

There is a newer issue opened https://github.com/actions/cache/issues/810, and an environment variable `SEGMENT_DOWNLOAD_TIMEOUT_MIN` was introduced https://github.com/actions/cache/issues/810#issuecomment-1211766031 which was then later reported as not working https://github.com/actions/cache/issues/810#issuecomm

[2022-10-08 18:25] marcindulak commented on #810
There was a suggestion from Feb 2022 https://github.com/actions/cache/issues/720#issuecomment-1030412967 about using a step timeout-minutes, before the `SEGMENT_DOWNLOAD_TIMEOUT_MIN` was introduced.

[code]

[2022-10-10 06:32] kotewar commented on #810
Hi @asottile-sentry, @djaglowski, @styfle , I used the latest version of `actions/cache@v3` and was able to reproduce the working of the `SEGMENT_DOWNLOAD_TIMEOUT_MIN` env variable. You can find the [workflow file](https://github.com/kotewar/repro-segment-download-timeout/actions/runs/3215266078/workflow) and [run](https://github.com/kotewar/repro-segment-download-timeout/actions/runs/3215266078)

[2022-10-11 13:36] asottile-sentry commented on #810
@kotewar I linked the workflow above, it is actions/cache directly and it received the environment variable and I linked the exact sha that it's using which claims to support this variable

[2022-10-11 14:18] kotewar commented on #810
That seems to be an issue with composite actions not sharing the environment variables as expected. I'll try out the way workflow files are written in sentry. 🤔

In the meantime, will it be possible for you to define the environment variable in [action.yml](https://github.com/getsentry/sentry/blob/1ba48063464c06aea8f0a02b7fe797bfb6cab715/.github/actions/setup-volta/action.yml#L13)?

[2022-10-11 14:51] asottile-sentry commented on #810
the output seems to show the environment variables present there -- and I confirmed with some simple shell composite actions that they inherit the environment of the parent job

[2022-10-11 19:22] mrk-han commented on #844
I am running into this same issue, and I'm also confused why you think the issues would be with setup-java

Thanks!

[2022-10-12 05:42] tiwarishub commented on #844
👋 ,  My apologies i was under impression this caching is for setup-java. But now i see this caching is one which is created with actions/cache. Unfortunately the attached logs has expired. If it will be of great help, if you can provide debug logs https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging (step and runner) .

[2022-10-12 12:54] zacharyburnett opened #953 "`save-state` and `set-output` are deprecated"
Running this action results in the following warnings:
[code]
https://github.com/spacetelescope/stenv/actions/runs/3234699238/jobs/5298298424#step:14:20

[code]
https://github.com/spacetelescope/stenv/actions/runs/3234699238/jobs/5298298424#step:14:22

[2022-10-12 13:10] jelmerk commented on #953
Same

[2022-10-12 13:57] rjkerrison commented on #953
I believe this will be fixed once all code is using version 1.10.0 of `@actions/core`. [Bumping to version 1.10.0 of @actions/core](https://github.com/actions/cache/commit/b9c8bfe4426d1b96548309ee742254ebf1a4f21c#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R27) is in `main` but not yet in a release version. Unfortunately `@actions/cache` has its own dependency on `@actions

[2022-10-12 20:13] fingolfin commented on #953
Actually this repo also uses `set-output`, and recommends it in the README and an example:

<img width="567" alt="Screenshot 2022-10-12 at 22 13 04" src="https://user-images.githubusercontent.com/241512/195438584-905f5a49-b085-48b1-a89b-56539c798736.png">

[2022-10-13 03:13] ramblingenzyme commented on #918
We've also seen a cache miss that I tracked down to this issue. It would be great if this was slightly more debuggable and didn't rely on eyeballing the tar command across actions but had some explicit information.

This suggestion would make it super obvious, so 👍🏽 from me.

https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows is where I tend to go to reme

[2022-10-13 09:45] deitch opened #955 "optional action failure on cache miss"
Can we have an option to fail on cache miss? The current behaviour is:

* cache hit: restore, exit successfully
* cache miss: do not restore, exit successfully

Much of the time, the above makes sense. But there can be workflows where you might want to fail if cache miss. For example, 2 jobs that depend on each other and use cache to move ephemeral artifacts around. We don't want them as formal ar

[2022-10-13 11:12] #953 closed

[2022-10-13 11:35] pdotl commented on #955
Hi there @deitch, we are planning some changes for users to have granular controls over cache. More info to follow once we have the plan finalised. Thank you for creating this issue, will keep it open for tracking currently.

[2022-10-13 11:42] deitch commented on #955
That sounds interesting. I rather am looking forward to that.

[2022-10-14 12:21] edoardopirovano opened #958 "Add configurable timeout to cache upload"
Over in the CodeQL team, we've recently started using the Actions cache (via [the toolkit](https://github.com/actions/toolkit)) in a scenario where we care only fairly minimally about the upload/download succeeding (it's entirely optional) but we _really_ care about returning quickly. In the cache downloading options, we found the `segmentTimeoutInMs` field ([here](https://github.com/actions/toolk

[2022-10-14 15:08] mapipina commented on #923
Did this end up working for you? I'm experiencing the same issue but adding on more paths didn't resolve the issue.

[2022-10-15 12:42] priv-kweihmann opened #957 "EACCES error since actions/core 1.10.0 is used"
With latest 3.0.11 release I get the following when using the action in a custom container

[code]

- `/__w/` is set to 0777 so this isn't a permissions issue of the file system
- release 3.0.10 works without any issues here

[2022-10-16 17:42] bishal-pdMSFT commented on #957
This looks related to file commands changes done recently. @pdotl @rentziass can you please take a priority look.

[2022-10-17 12:27] pdotl commented on #957
Hi there @priv-kweihmann, we have noticed this issue is similar to [#956](https://github.com/actions/checkout/issues/956) posted at `actions/checkout`. The issue has to to do with [dockerfile usage of actions not supporting non-root users.](https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions#user). Please see if the following workarounds would work for your ca

[2022-10-18 06:39] priv-kweihmann commented on #957
@pdotl thanks I will take a look if I can manage to modify my container accordingly

[2022-10-18 06:53] kotewar commented on #810
Apologies, the environment variable had a typo in the issue as well as documentation. That's why it was not working as expected.

`SEGMENT_DOWNLOAD_TIMEOUT_MINS` with `S` at the end should be used. We recently got a [PR](https://github.com/actions/cache/pull/959/files) for the correction of the same that made us realise this.

Thanks @walterddr for the PR.

I'll update the same at remaining places

[2022-10-18 17:14] priv-kweihmann commented on #957
Update: updating the container to use matching UIDs did it for me - thanks for the support

[2022-10-18 17:14] #957 closed

[2022-10-19 07:37] pamolloy commented on #878
Please add the path to the log message!

[2022-10-19 07:52] #838 closed

[2022-10-19 07:54] kotewar commented on #838
Closed due to no reply. Feel free to reopen this issue if you feel this needs to be addressed.
I tried a sample workflow with normal golang code but didn't get any success with it, requesting you to please share a sample workflow where this recipe works across OSes. Thanks!

[2022-10-19 09:04] #822 closed

[2022-10-19 10:02] vsvipul commented on #354
@Sytten I don't think anything is being planned in this direction for dotcom right now as maintaining regions manually so that cache can work effectively will be very difficult in such cases.

Although, we do have option for custom storage in GHES (Github enterprise server), the possibility of us supporting this in Github.com is very low.

[2022-10-19 18:03] anuragc617 commented on #937
Hey @SharonDiskin I have verified that cache restore is happening with `repository_dispatch` event using a workflow that saves and restores cache in two jobs. For further debugging, I would like to have a look at the debug logs, can you please share them.

[2022-10-20 06:04] meiswjn commented on #354
Why not just allow specifying an Azure Blob Storage or similar on an org / enterprise level?

[2022-10-20 16:27] steven-johnson commented on #92
+1, it seems like there is a pretty clear desire for this. It would be really great to get this as a configurable option in the 'official' actions/cache.

[2022-10-20 16:33] steven-johnson commented on #587
+1

[2022-10-20 16:35] pat-s commented on #92
It would be good to know what the difference/advantage over existing forks mentioned in this issue is?

[2022-10-20 16:37] steven-johnson commented on #92
Same for Halide, where we may need to build and cache LLVM (!), which takes several hours on some builders

[2022-10-20 16:46] DrJume commented on #92
Basically, it is the original actions/cache, but without the limitation of running only on success. It achieves this by literally deleting only one line in the action manifest file. If actions/cache releases new features, you only need to update the patched action, so that it forwards new input options (if some are added). With this patched version you still use the original logic and have officia

[2022-10-21 09:47] alexislefebvre commented on #2
Check this announcement: [Manage caches in your Actions workflows from Web Interface](https://github.blog/changelog/2022-10-20-manage-caches-in-your-actions-workflows-from-web-interface/).

[2022-10-21 09:50] mkurz commented on #2
Thanks, however it is not possible to clean the whole cache of a repo right now, only single entries.
That's why I created
* https://github.com/orgs/community/discussions/36878

Please vote for it, thanks!

[2022-10-21 10:01] vsvipul commented on #2
@alexislefebvre  @mkurz  Thanks for adding the announcement here.
https://github.blog/changelog/2022-10-20-manage-caches-in-your-actions-workflows-from-web-interface/
We have released the UI to manage your caches from web interface. Do check it out. I'm going to go ahead and close this issue now.

For bulk delete, we might support it in the future, and I would suggest you to open a separate issue

[2022-10-21 10:01] #2 closed

[2022-10-21 10:05] mkurz commented on #2
Is https://github.com/orgs/community/discussions/36878 enough? Or do you mean in this repo here?

[2022-10-21 10:17] vsvipul commented on #2
@mkurz  That should be enough but if you want you can open an issue in this repo as well.

[2022-10-21 10:21] vsvipul commented on #105
We've released UI to manage your caches from the web interface as well.
https://github.blog/changelog/2022-10-20-manage-caches-in-your-actions-workflows-from-web-interface/
Do check it out.

I've renamed this issue to specify that it is for downloading the cache contents.

[2022-10-21 13:47] seh commented on #2
It's worth noting that if you've been interpolating Actions secret values into your cache names in order to be able invalidate them forcibly by changing that secret value, the Web interface now reveals your secret values, embedded within the displayed cache names.

Now, that was an abuse of the secret system, and the values were immaterial—such as "v2"—but still, it's worth a warning that GitHub i

[2022-10-22 12:12] rhaschke commented on #92
@pat-s, could you please fix deprecation warnings in your fork:
[code]
Thanks.

[2022-10-23 17:54] cdce8p commented on #901
To expand one what has already been said. In some the workflows I've seen, the dependency install and tests happen in separate jobs. I.e.
* Job 1: Check if cache exists, if not download / build dependencies and create new cache entry
* Job 2 - X: Different test runners. Restore environment from cache. If restore failed, fail test. Run tests, linters, etc.

If for Job 1 a useable cache already exis

[2022-10-23 17:59] bogdandrutu commented on #901
We have the same use case, since we have a large repo, we want to run tests in multiple jobs, hence we cache all go dependencies initially then run tests in separate jobs.

[2022-10-24 15:14] nmattia opened #966 ""No such file or directory" when unpacking previously saved cache on macOS"
I'm having a cache restore issue on macOS (`macos-latest`, Linux cache restore works fine) where tar (`gtar`) complains that some files don't exist:

[code]

The step was cached successfully previously and was fetched. Here are the full logs of the ["save" step (edited)](https://github.com/dfinity/internet-identity/actions/runs/3311557329/jobs/5467152212#step:43:1):

<details><summary>Save logs (e

[2022-10-24 19:57] miparnisari opened #967 "Caching go modules not working?"
I'm following this example:

https://github.com/actions/cache/blob/4fe9c4bd54cc7f1a32249072c2256c718ea68a5b/examples.md?plain=1#L183-L194

My workflow in the PR i'm testing:

[code]

The result:

<img width="1525" alt="image" src="https://user-images.githubusercontent.com/5374887/197615993-e192c870-3933-4319-a125-950d0258be98.png">

Shouldn't the part that I highlighted in red not be there?

[2022-10-24 20:23] miparnisari commented on #967
Okay i just discovered that unless I merge this new workflow, I won't see the changes. 🤦

[2022-10-24 22:17] nalchevanidze opened #968 "duplicate cache with same key?"
I don't know if it's a right place, problem can be caused by GitHub cache API. my Github workflow sometimes in Haskell doesn't use cache key. not even more general restore keys.

as you can see there are multiple builds with same kay.

<img width="1224" alt="image" src="https://user-images.githubusercontent.com/18636038/197639308-df97a6c6-b6e7-4960-9e00-cfa8ee8e9619.png">

where pipeline each time

[2022-10-24 22:19] nalchevanidze commented on #968
my action description is following:

[code]

[2022-10-25 05:50] anuragc617 commented on #968
Hi @nalchevanidze, this is because cache with same key can be restored from the parent branch or main branch and not across the branch. But if the cache with key is not present in parent/main branch, then individual branches which will create their own caches. For more details check this [doc](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#matching-a-

[2022-10-25 08:00] nalchevanidze commented on #968
thanks @anuragc617.  Is there anything I can do to change this behavior? since I don't really care about the branches and I would like to have one cache per key regardless of the branches?

[2022-10-25 08:07] anuragc617 commented on #966
@nmattia In the logs share by you the cache is  saved by key: `Cache saved with key: tmpp2-macOS-4752fbbd000ccf464102cb9b243eb21eb2477231-deps` while the cache is retored by key: `tmpp2-macOS-4752fbbd000ccf464102cb9b243eb21eb2477231-dot-cargo`. Can you  please ensure that the same cache key is being used for save and restore?

[2022-10-25 08:26] nmattia commented on #966
@anuragc617 my bad, I copied the wrong step logs, although the problem is as described. I've edited the issue.

[2022-10-25 10:40] vsvipul commented on #354
@meiswjn We do use azure blob storage to save actions caches. How will allowing a custom Azure blob storage help you additionally? Can you please elaborate?

[2022-10-25 12:03] meiswjn commented on #354
Sure. For legal reasons we are not allowed to use GitHub Runners and GitHub storage. Export control, data privacy, internal security guidelines - you name it.
Allowing a custom blob storage would give us many possibilities: Host it in our own country (no more export control and data privacy issues), connect it via private endpoint (confidential data / internal processes), use our own level of encr

[2022-10-25 12:07] anuragc617 commented on #968
If you want one cache per key, then you need to ensure that cache is created against main branch and the other branches can restore the cache.
But if a branch changes the cache key then it will create a cache with new key and this can only be restored by that branch and children of that branch.

[2022-10-25 12:09] anuragc617 commented on #967
@miparnisari is it working now?

[2022-10-25 17:40] miparnisari commented on #967
Yes. The number of Go modules being downloaded is a lot less now, but there's still a few..

[2022-10-25 22:10] nulano commented on #2
I believe the cache names were already visible in the log of the cache step, e.g.:

Received 7637907 of 7637907 (100.0%), 16.7 MBs/sec
Cache Size: ~7 MB (7637907 B)
C:\Windows\System32\tar.exe -z -xf D:/a/_temp/06f09ba7-bec2-461a-a241-d11afa9480f0/cache.tgz -P -C D:/a/Pillow/Pillow
Cache restored successfully
Cache restored from key: fbc4ecc14e7c86fb662b1be66ad2567466c767e957ec2f89ba03ac810e92d716

[2022-10-25 23:05] seh commented on #2
But weren’t the secret values masked, as they are in other logs from job steps using secret values?

[2022-10-25 23:35] nulano commented on #2
Oh right, they would be masked in the log. I always forget about that detail as I find it very unintuitive. But yes, I would not expect a secret value to be used as part of the cache key.

[2022-10-26 00:02] mrk-han commented on #844
So, the cache seems like it's being hit properly but the ~/.android/avd/avd-name.avd/ folder doesn't exist.

[code]

[code]

[2022-10-26 00:22] mrk-han commented on #844
Regardless, I think it's some weird interaction with either `android-emulator-runner` or the way VMs are spun up by GHA.

I am going to add more logging around the $HOME variable and these other paths `$ANDROID_AVD_HOME` `$ANDROID_SDK_HOME/avd` and `$HOME/.android/avd)` at different points in the pipeline

[2022-10-26 08:39] anuragc617 commented on #967
May be you are not caching all the dependencies that are being used in Test Functional

[2022-10-27 13:02] nmattia commented on #966
@anuragc617 or @tiwarishub any suggestions for a fix or workaround? This is costing us a fair bit of CI time

[2022-10-27 20:24] styfle commented on #810
@kotewar Looks like this has been fixed upstream https://github.com/Azure/azure-sdk-for-js/issues/22321#issuecomment-1290123434

Can you release a new version of of `actions/cache` with the fix?

[2022-10-28 04:09] kotewar commented on #955
Hi @deitch ,

This looks more like a registry (npm registry/maven repository) pattern, where if the dependency is present in the registry with a required version, the build would succeed, else it would fail saying the version doesn't exist.

Is that what you are looking for?

[2022-10-28 05:29] kotewar commented on #810
Hi @styfle, Currently we're testing out `actions/cache` with latest azure storage dependency to ensure the changes are working as expected before rolling it out to everyone.

As this issue is not reproducible every time and is intermittent, please expect some delay in the same as we want to gain confidence before releasing out the same.

[2022-10-28 08:06] deitch commented on #955
Not quite @kotewar , although now that you describe it, the parallels are obvious.

In my use case, we have a long build process that creates output artifacts. These are used in multiple downstream jobs. The build is expensive, so we do it once, then cache, then pull the cache for the many downstream jobs. If they are missing, that is an issue that I want to catch and fail the job there and then,

[2022-10-31 13:45] jakoch opened #972 "tar run fails on windows"
un-taring the cache.tgz fails with "Can't create" folder.
using actions/cache@v3.0.11

[code]

[2022-11-01 10:04] cdce8p commented on #955
This is something I've been looking for as well. I know multiple projects which have split dependency install and tests. In one workflow example the pattern is used more than 10 times. It would be awesome if a config setting could be added. That would simplify the jobs a bit.

[code]

[2022-11-01 13:54] oliversalzburg commented on #953
There are also several `set-output` usages on https://github.com/actions/cache/blob/main/examples.md

[2022-11-01 17:37] #923 closed

[2022-11-02 10:51] tanuj077 commented on #587
@wmertens can you please me understand better why would the job fail here?

[2022-11-02 13:15] wmertens commented on #587
@tanuj077 even something as simple as eslint failing should fail the job but retain the cache

[2022-11-02 13:17] kotewar commented on #587
@wmertens
Is the ask similar to https://github.com/actions/cache/issues/272

[2022-11-02 14:17] wmertens commented on #587
@kotewar yes this seems to be a duplicate

[2022-11-02 16:43] ovflowd opened #973 "Allow caches to be removed via a Workflow"
One thing I really feel is missing on this `action` is to allow to cleanup of cache keys. For example, when I close a PR, I want all the caches from that `ref` to get removed.

Right now either I need to make cURL requests or the new UI feature to delete one per one. On repositories that have a massive amount of runs (such as https://github.com/nodejs/nodejs.dev), this becomes a little bit unmaint

[2022-11-03 00:33] asvny opened #974 "Any idea to implement to cache policy ?"
It makes sense in few cases to have cache policy and skip post save steps in certain jobs. For example, I can have a `Deps install` step which will install all the deps and save to the cache, then all other jobs would like to just pull the deps and not save again.

Similar ideas - https://docs.gitlab.com/ee/ci/yaml/index.html#cachepolicy

[2022-11-03 03:54] kotewar commented on #974
Hi @asvny ,

We have received this question/ similar recommendation(s) in multiple issues-

- https://github.com/actions/cache/pull/571
- https://github.com/actions/cache/pull/489
- https://github.com/actions/cache/pull/474
- https://github.com/actions/cache/issues/795
- https://github.com/actions/cache/issues/334
- https://github.com/actions/cache/issues/350
- https://github.com/actions/cache/iss

[2022-11-03 04:18] kotewar commented on #972
Hi @jakoch,

Few questions:
1. Is this a new workflow or is it something that had been running successfully with old version of `actions/cache`?
2. If it is an old workflow, what version `actions/cache` were you using previously?

[2022-11-03 05:36] kotewar commented on #587
Closing as duplicate, we'll post further updates in #272.

[2022-11-03 05:36] #587 closed

[2022-11-03 06:56] tanuj077 commented on #974
Closing as duplicate.

[2022-11-03 06:56] #974 closed

[2022-11-03 11:32] edoardopirovano commented on #958
Greetings @bishal-pdMSFT and @kotewar! Just wanted to check in whether this is something you'll be able to prioritise or whether we should invest more time in a workaround?

[2022-11-03 11:43] kotewar commented on #958
Hi @edoardopirovano,

Right now we have some other areas in `actions/cache` that we are focusing on which have been asked by multiple folks in the existing open issues. So we might take some time to come back on this. That being said, if you are looking for any workaround, I can help you in creating one and testing it out if you have the bandwidth.

[2022-11-03 11:57] jakoch commented on #972
Hi kotewar,
this is an old workflow. it was running successfully before.
we used `action/cache@v1` before and updated to `v3.0.11`.
we also updated the cache `key`, when updating the version number to `v3`: [see change diff](https://github.com/hikogui/hikogui/commit/2f2cf58960f678feb0680a5f5742d34e81d1ff50#diff-9978b2faa67a1e8d058ea4b5d2553788ef9fe54f2eba9ce72a0117910484af99L74)

[2022-11-04 18:54] pramodka-revefi opened #975 "Unnecessary cache writes in PR branch when cache-key is found on the default branch"
We're trying to make our PR builds fast by using the cache action. Our model right now:
* Create a daily cache on the main branch with a dated key
* Use the cache in every PR -> We use Bazel, which makes our builds & tests are incremental

However I noticed that each PR build workflow is spending time writing the cache. I would like some way to not copy/write back caches when the cache key is foun

[2022-11-07 10:14] bishal-pdMSFT commented on #918
README is updated to add more details about how version is computed #971

[2022-11-07 10:14] bishal-pdMSFT commented on #735
README is updated to add more details about how version is computed https://github.com/actions/cache/pull/971

[2022-11-07 10:14] #735 closed

[2022-11-07 12:42] kindaro commented on #918
I am a bit underwhelmed by the solution.

[2022-11-07 12:49] deitch commented on #918
Same here. Why wouldn't you include enough information in the actual reporting? When caching, "here is the actual key I used to save" and when looking, "here is the key I am looking for and didn't find."

[2022-11-07 15:38] vsvipul commented on #975
@pramodka-revefi This should not happen unless you are using restore-keys. Can you recreate this in a public repo and share the runs with us ?

I tried with this simple workflow-
[code]

and PRs are not creating separate cache if there is already a cache with the same key present on main branch.

[2022-11-07 17:53] bishal-pdMSFT commented on #918
There is a thinking to make the action logs more verbose to include details about version mismatch. But right now I am not too sure about timeline for that. That's why I closed the issue as the docs update are addressing it to certain extent.

cc @Phantsure if you plan to track this then you can chose to re-open this issue.

[2022-11-08 11:05] kotewar commented on #810
Hi @styfle,

After testing for multiple days with the latest version of the storage blob, we still haven't got the confidence as we don't see any consistency in the results.

[Upgraded the dependency here](https://github.com/actions/toolkit/compare/main...kotewar/azure-storage-sdk-upgrade) and used the toolkit dependency in actions/cache [manually](https://github.com/actions/cache/commit/78a3c5d34

[2022-11-08 11:22] y-nk opened #977 "Cache not found when pulling from container"
I have a simple workflow such as:

Where the "Prepare repository" and "Lint" jobs are jobs running in normal machine (not containerized) whereas the "Test suite" is containerized (because I need supporting service containers).

Here's a simplified version of the workflow, so you can get the gist.

[code]

The problem I have is in the log of those 3 jobs:

1st job (the builder)
[code]

2nd job (the

[2022-11-08 11:24] y-nk commented on #977
PS: it's an enterprise repo so i can't open it or share more sources, my apologies for that.

[2022-11-08 22:11] sgohlke opened #978 "Fix version check to allow Dependabot Github actions pull requests"
I'm using Dependabot in Github to automatically create pull requests for Github actions updates:
https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

This seems to work for the action "actions/checkout" but it seems Dependabot cannot identify the latest version for "actions/cache". It would be nice if you can check this a

[2022-11-09 09:41] vsvipul commented on #977
@y-nk I think the 3rd key is different and the 1st one is incomplete. Can you please check again? As long as the key, path and scope matches, restore should be happening.

[2022-11-09 10:38] y-nk commented on #977
I've made a 2nd run @vsvipul , same output.

1. builder
[code]

2. linter
[code]

3. tester
[code]

Can you check again?

[2022-11-09 11:24] vsvipul commented on #977
Ah I see the issue now, as the path is different, different[ version](https://github.com/actions/cache#cache-version) is being created in (3) and hence cache is not found in that case. You'll need to use the same path for restoring the same cache. For now, unfortunately we do not support restoring to a different path.

We have a similar issue open here - https://github.com/actions/cache/issues/330

[2022-11-09 11:24] #977 closed

[2022-11-09 11:27] y-nk commented on #977
@vsvipul the problem is that the path is different because one is inside the runner and the other is inside the container.

the linter is:

[code]

the tester is:

[code]

so it doesn't work. i can't work around that by myself :/

[2022-11-09 11:33] vsvipul commented on #977
Yes, I understand that. Please leave a comment on the already open issue - https://github.com/actions/cache/issues/330 as well so that we can work on improving this in the future. Unfortunately, for now I can't suggest you any workaround for this.

[2022-11-09 11:49] y-nk commented on #977
As I understand Github is owner of this action _and_ the CI environment and since this bug has impact on the billing time, you're having a bug which overcharge customers by your own fault.

Could we expect any kind of discount for the damage?

[2022-11-09 11:50] y-nk commented on #330
I created this repo to illustrate the issue i'm having which is related to this bug.

https://github.com/y-nk/cache-in-container/actions/runs/3427866818

The problem being that an action building outside of a container has a certain path, and so that path cannot be restored once inside a container (bc the context of the container is different)

[2022-11-09 13:17] Logarithmus commented on #823
@vsvipul are there any big technical challenges about enabling cache restore from **base** branch, not only **default**? At my workplace we use `release/...` branches and merge PRs into them instead of `main`, thus every time a new PR is created, the cache is not found.

[2022-11-10 04:54] pramodka-revefi commented on #975
Interesting. Thanks for digging into this and explaining the behavior. We are actually using `restore-keys` in the workflow - this is because we are using the same workflow on the main branch. And in the main branch, we actually do want the restore and write back property. I'll look into whether I can use some if conditions and use the `restore-keys` only on the main branch.

Given the explanation

[2022-11-10 05:33] vsvipul commented on #975
In PR builds also write back is useful in this case-
Dependency changes on the first run, we do a cache write back. PR contributor makes more commits on the PR and dependency doesn't change in any of those commits. Cache is completely restored on every commit.

Please let me know if you think otherwise. I'll go ahead and close this issue.

[2022-11-10 05:33] #975 closed

[2022-11-10 16:10] Phantsure commented on #918
I plan to add more verbose to include details about version mismatch. As version mismatch can occur due to either compression or path. From my understanding details asked so far are:

- Provide all version hashes present for key in case of mismatch.
  - Feels more like a log to go in debug log. Only seen when running in debug mode.
- After a mismatch, tell that reasons can be different, i.e. compr

[2022-11-10 16:15] vsvipul commented on #978
The most probable reason for this might be that v3 and v3.0.11 point to different commit SHAs. We'll fix that soon. Thank you for reporting this.

[2022-11-10 21:14] r-medina commented on #720
i've also had this happen sporadically on github hosted runners and pretty consistently on buildjet runners

[2022-11-10 21:31] pramodka-revefi commented on #975
I think that should be a different flag, and not overload the restore-keys flag. In the current scenario, the PR branch is finding a cache hit and still writing back. But I'll leave that call to you.

[2022-11-11 05:53] anuragc617 commented on #967
@miparnisari  Is the issue is fixed? If yes, can you please close this.

[2022-11-11 06:43] anuragc617 commented on #968
@sidekick-eimantas  the cross-branch caches protection is necessary because the cache created for a branch may have vulnerabilities and if that cache is used for building the main branch/ parent branch, then the build artifacts generated for main branch will also have those vulnerabilities. It poses a security threat for your production environment.

[2022-11-11 07:10] vsvipul commented on #978
@sgohlke Can you check now please if it is working fine? Thanks

[2022-11-11 09:49] sgohlke commented on #978
It is working fine now, thanks.

[code]

[2022-11-11 09:54] vsvipul commented on #978
Thanks for confirming.

[2022-11-11 09:54] #978 closed

[2022-11-11 12:32] CallThemAndSayHello commented on #720
We now use
`uses: actions/cache@v3`
with that timeout suggested in https://github.com/actions/cache/issues/720#issuecomment-1030412967 .

I cannot recall having seen the issue (builds failing due to this timeout) in the last while, perhaps last few months.

[2022-11-12 02:09] #967 closed

[2022-11-14 12:31] Phantsure opened #984 "Cache compression - cross OS support"
## Problems
There have been multiple reported issues related to compression of caches. The issue we are looking to solve:
- Cross-OS compatibility: Currently on windows cache uses a different compression algorithm (`gzip`) as compared to on `linux | mac` (`zstd`). This leads to different versions for caches created on different platforms. Therefore caches created on windows might not be recoverabl

[2022-11-15 18:16] apearce-nov opened #985 "[Request] Add ability to run tar extract in silent mode"
The `tar` command currently used to download cached files does so with the list operation `-t`. When caching node_modules of large projects (especially for monorepos), this can lead to ridiculously large logs, like the one below that created a +40 MB log file just printing every node_module file for the +500 MB cached tar.

(Workflow GUI)
<img width="666" alt="Screen Shot 2022-11-15 at 12 10 00 PM

[2022-11-16 02:54] jjoseph456 commented on #810
I have another customer reporting the same issue. [ZD](https://github.zendesk.com/agent/tickets/1870239)

we utilize the actions/cache workflow for our jobs. on occasion, downloads hang. it looks like bandwidth is being throttled. here is an example job: https://github.com/AnySignal/br2-external/actions/runs/3418768785/jobs/5692489803

you'll notice that progress was being made until 99.8% then th

[2022-11-16 06:24] kotewar commented on #810
Hi @jjoseph456,

We are working on this with the Azure Blob storage SDK team and the issue is being tracked [here](https://github.com/Azure/azure-sdk-for-js/issues/22321)

As this is an intermittent issue and not in our control, we have introduced a custom timeout that a user can introduce in their workflows to stop the downloading the segment if it crosses the timeout. This is an [environment var

[2022-11-16 08:32] pdotl commented on #330
@mzabaluev @y-nk we are tracking this issue in #984. Please check the current proposal there and provide comments/feedback if any. Closing this as duplicate.

[2022-11-16 08:32] #330 closed

[2022-11-16 08:34] Phantsure commented on #823
@Logarithmus There is some technical challenge in understanding the **base** branch for any branch so for now we have updated the docs to address this behaviour.

[2022-11-16 08:36] Phantsure commented on #823
Closing this issue as public docs are updated: https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache
@Logarithmus You may open a new issue with the expected behaviour. We can track that separately

[2022-11-16 08:36] #823 closed

[2022-11-16 08:43] pdotl commented on #301
Hi @aminya @lazka @smorimoto we are tracking this issue in #984. Please check the current proposal there and provide comments/feedback if any. Closing this as duplicate.

[2022-11-16 08:43] #301 closed

[2022-11-16 08:43] pdotl commented on #442
We are tracking this issue in #984. Please check the current proposal there and provide comments/feedback if any. Closing this as duplicate.

[2022-11-16 08:43] #442 closed

[2022-11-16 08:44] #529 closed

[2022-11-16 08:45] pdotl commented on #752
Hi @Adnn @mattjohnsonpint we are tracking this issue in #984. Please check the current proposal there and provide comments/feedback if any. Closing this as duplicate.

[2022-11-16 08:52] pdotl commented on #198
Hi @mzabaluev we are tracking this issue in #984. Please check the current proposal there and provide comments/feedback if any. Closing this as duplicate.

[2022-11-16 08:52] #198 closed

[2022-11-16 08:55] pdotl commented on #125
Hi @wch @sammcj we are tracking this issue in #984. Please check the current proposal there and provide comments/feedback if any. Closing this as duplicate.

[2022-11-16 08:55] #125 closed

[2022-11-16 09:02] pdotl commented on #389
Hi @Vampire @pratikbin the idea of choosing own compression algorithm is not planned to be worked on in the near future. Please visit #984 and provide feedback on the current proposed changes to tar compression. Closing as wontfix.

[2022-11-16 09:15] pdotl commented on #631
Closing this issue as we could not recreate the above macos performance issue. Feel free to create another issue if the problem recurs.

[2022-11-16 09:15] #631 closed

[2022-11-16 12:57] bishal-pdMSFT commented on #846
The doc [section](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache) is updated to call out the scope restrictions more clearly. Also added  a sentence about tags scope.

[2022-11-16 12:57] #846 closed

[2022-11-16 13:04] bishal-pdMSFT commented on #632
📢 Cache management is not much simpler with ability to list cache metadata and delete cache for a repo. Additionally, Org admins can view usage across repos.
[Managing caches](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#managing-caches)
[Managing caches for organizations](https://docs.github.com/en/organizations/managing-organization-settings/disab

[2022-11-16 13:04] #632 closed

[2022-11-16 16:24] mattjohnsonpint commented on #984
I'm glad this is being addressed, but I'm not sure the stated proposal is the right path forward.  Or rather, it may be not the right path for all users.

I don't believe that cross-OS compatibility of single cache archive should be the primary driver, as it's quite common to put the `runner.os` in the cache key, as seen in the [basic example](https://github.com/actions/cache#example-workflow) in

[2022-11-16 16:29] mattjohnsonpint commented on #984
BTW - 7-Zip does support `tar` and `tar.gz` formats.  And like I said, it's pre-installed on both `windows-2019` and `windows-2022` runner images.  I'm not certain if it would be faster than BSD or GNU tar or not.  Perhaps you could experiment and see?

[2022-11-17 07:50] kotewar commented on #272
I was wondering if anybody tried [continue-on-error](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepscontinue-on-error) input in their job.

Example [workflow](https://github.com/kotewar/test-continue-on-error-for-cache/actions/runs/3486334557/workflow#L29) and [run](https://github.com/kotewar/test-continue-on-error-for-cache/actions/runs/348633

[2022-11-17 09:36] wmertens commented on #272
@kotewar the cache save step should run but the workflow as a whole should fail. Afaik there's no such setting.

[2022-11-17 09:56] kotewar commented on #92
I was wondering if anybody tried [continue-on-error](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepscontinue-on-error) input in their job.

Example [workflow](https://github.com/kotewar/test-continue-on-error-for-cache/actions/runs/3486334557/workflow#L29) and [run](https://github.com/kotewar/test-continue-on-error-for-cache/actions/runs/348633

[2022-11-17 10:31] kotewar commented on #272
@wmertens , do you mean something like [this](https://github.com/kotewar/test-continue-on-error-for-cache/actions/runs/3487439646/jobs/5835067602)?

<img width="636" alt="Screenshot 2022-11-17 at 4 00 59 PM" src="https://user-images.githubusercontent.com/98868223/202423043-df6bd298-f017-4a49-9be3-3e7484f39831.png">

[2022-11-17 17:02] LorenzoBettini commented on #92
@kotewar but then is the whole job set as failed? Because of course that would be crucial...

[2022-11-17 17:54] linonetwo opened #988 "Need new node npm example"
Here are the version applied change from [https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#example-3](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#example-3) and [https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/](https://github.blog/changelog/2022-10-11-github-ac

[2022-11-17 18:41] kotewar commented on #92
Hmm, I understood the requirement. Thanks @LorenzoBettini. I'll take a look at this.

[2022-11-17 21:56] w-bonelli commented on #973
[An alternative](https://gist.github.com/w-bonelli/f84a18e985eb43175a7c0eecdb442d3f) to manual HTTP requests is [the `gh-actions-cache` extension](https://github.com/actions/gh-actions-cache) for the `gh` CLI, e.g. from `bash`

[code]

[2022-11-18 09:42] pdotl commented on #984
@mattjohnsonpint appreciate your feedback and suggestions on this. The stated proposal mainly addresses customer pain points surrounding reducing build time by leveraging cache across their runners. This proposal should also provide some performance improvements for windows as now the compression algo in use will be zstd instead gzip. We are also exploring other solutions for windows runner perfor

[2022-11-18 16:27] wmertens commented on #272
@kotewar, no, the job itself should fail. Somehow the status of "Induce error" should bypass "post run kotewar".
Currently, your "Build Test" will always be green.

[2022-11-21 17:19] Jimimaku opened #991 "@mkatychev we are working on providing granular control and looking over all the issues related to it. Then we will come up with a design for having such flags."
@mkatychev we are working on providing granular control and looking over all the issues related to it. Then we will come up with a design for having such flags.

_Originally posted by @anuragc617 in https://github.com/actions/cache/issues/743#issuecomment-1292998762_

[2022-11-21 17:19] #991 closed

[2022-11-21 17:21] Jimimaku opened #992 "Pinging."
Pinging.

_Originally posted by @robinp in https://github.com/actions/cache/issues/726#issuecomment-1046193992_

[2022-11-21 17:22] #992 closed

[2022-11-21 17:23] Jimimaku opened #993 "FYI guys I added some code pointers to the underlying https://github.com/actions/toolkit/issues/713#issuecomment-1030692990 - for me it seems passing an extra option to avoid matching directiories in the globber would solve this."
FYI guys I added some code pointers to the underlying https://github.com/actions/toolkit/issues/713#issuecomment-1030692990 - for me it seems passing an extra option to avoid matching directiories in the globber would solve this.

_Originally posted by @robinp in https://github.com/actions/cache/issues/494#issuecomment-1030693277_

[2022-11-21 17:23] #993 closed

[2022-11-22 04:33] kotewar commented on #852
How about using `shell:bash` to do this job for you?

Currently we haven't received much requests in this area, but this can be achieved using custom [shell commands](https://docs.github.com/en/actions/learn-github-actions/essential-features-of-github-actions#adding-scripts-to-your-workflow) to achieve this folder creation.

[2022-11-22 04:35] kotewar commented on #958
Closing this issue as the CodeQL team went with a custom implementation of the same.

[2022-11-22 04:35] #958 closed

[2022-11-22 04:37] kotewar commented on #926
Hey @tomekowal, are you still facing this issue?
If yes, let me know if you can share the reproducible empty project so that I can take a look. We haven't received any such issues/bugs related to this since we released the actions/cache `v3.0.8`.

[2022-11-22 08:45] szepeviktor commented on #852
Thank you.
I'm into solutions, not work-arounds.

[2022-11-23 08:36] pallavx commented on #973
Thanks @w-bonelli for suggesting the `gh` CLI approach.

Hi @ovflowd, we have added some guidance in our [tips-and-workarounds](https://github.com/actions/cache/blob/main/tips-and-workarounds.md#force-deletion-of-caches-overriding-default-cache-eviction-policy) docs. It provides a sample workflow that you can introduce to remove caches for PRs. It uses the same `gh` CLI and the logic is similar to

[2022-11-23 08:36] #973 closed

[2022-11-23 08:41] tiwarishub commented on #862
👋  @JavierSegoviaCordoba, can you confirm this directory ``~/.konan`` actually exist in windows.

[2022-11-23 08:46] aetos382 commented on #988
In Windows Hosted Runner, the default shell is `pwsh`.
In pwsh, `${GITHUB_OUTPUT}` refers to a shell variable, but must refer to an environment variable, so you need to write `${env:GITHUB_OUTPUT}`.
If you are building on both Linux and Windows, you will need to specify the shell explicitly, as in one of the following examples.

[code]

OR

[code]

[2022-11-23 09:10] pallavx commented on #952
Hi @lvalladares-isp, can you please provide the workflow definition or debug logs for the first job, so that we can take a look at this further?

I think this is most likely because of version mismatch between the two caches. One of the params cache-version depends on is the `path`, so can you please confirm is the path is the same? Reference docs can be found [here](https://github.com/actions/cac

[2022-11-23 09:46] bishal-pdMSFT commented on #839
Closing old issue. Please re-open if the workaround does not help.

[2022-11-23 09:46] #839 closed

[2022-11-23 09:57] bishal-pdMSFT commented on #339
I thinking to close this issue. It is pretty old regression and to be honest I do not have context on why this change was done from v1 to v2. Right now we are at v3 and anything different would be a new regression now, and also we have better cache management [experience](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#managing-caches) to be able to di

[2022-11-23 09:59] bishal-pdMSFT commented on #988
related: https://github.com/actions/cache/pull/954

[2022-11-24 06:31] bishal-pdMSFT commented on #635
Closing stale issue. Please create a PR and reactivate this issue if you would like to contribute to this.

[2022-11-24 06:31] #635 closed

[2022-11-24 06:32] bishal-pdMSFT commented on #339
Closing. Re-open  with more context if this is still an issue.

[2022-11-24 06:46] bishal-pdMSFT commented on #695
The action does not do any explicit check on access to /tmp. It fails as it tries to read/write there and fails. If you think the action should have this access, please create an issue on [runner](https://github.com/actions/runner) repo.

[2022-11-24 06:46] #695 closed

[2022-11-24 20:19] Avasam commented on #968
But what if it comes from the same PR/Branch? Here I have 2 duplicates:
![image](https://user-images.githubusercontent.com/1350584/203858609-2e74add3-b476-4e52-9015-1413471b6820.png)

https://github.com/Avasam/Auto-Split/actions/caches

<details>
<summary>Details</summary>

[code]

</details>

[2022-11-25 19:17] JavierSegoviaCordoba commented on #862
I haven't checked on CI, but in my Windows machine, it exists.

[2022-11-26 14:31] dreamscached commented on #968
Having the same issue on the same branch with the exact same cache key.
![obrazek](https://user-images.githubusercontent.com/74068927/204093996-06facba3-37a7-459b-8750-7d3325d54d58.png)

[2022-11-27 03:37] styfle commented on #810
@kotewar If you want to look at a recent failure, see this: https://github.com/vercel/vercel/actions/runs/3550136607/jobs/5963255592

[2022-11-28 10:52] vsvipul opened #1001 "Testing assignee assignment in issue"
Thank you 🙇‍♀ for wanting to create an issue in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions about writing workflows or action files, then please [visit

[2022-11-28 10:53] #1001 closed

[2022-11-28 12:13] edoardopirovano commented on #958
We would still prefer if there was a native way to get the library to timeout, as our workaround isn't particularly robust and requires extra maintenance on our end. We're in no rush to have this, but I would still like to leave this issue open to track this.

[2022-11-28 15:11] bishal-pdMSFT commented on #958
@edoardopirovano just curious if you have observed hung upload on multiple occasions. We have not heard about upload being stuck feom other corners.

[2022-11-28 15:29] edoardopirovano commented on #958
We have certainly seen downloads hang without the `segmentTimeoutInMs` option specified (e.g. [here](https://github.com/github/codeql-action/actions/runs/3152962897/jobs/5128863320#step:4:163)). Even _with_ that option specified, in fact, we sometimes get hangs before the actual download starts (e.g. [here](https://github.com/zooniverse/panoptes/actions/runs/3420941934/jobs/5696413442#step:3:259)

[2022-11-29 08:34] #760 closed

[2022-11-29 22:15] t-dedah commented on #937
Hi @SharonDiskin Are you still facing this issue? If yes then will it be possible to share the debugging logs?

[2022-11-30 00:10] Fishrock123 commented on #354
Hi, my employer uses self hosted runners on AWS (for security reasons). We'd like to do actions caching for Rust language intermediary build artifacts. It would be nice to not have to look at maintaining an internal fork of this action in order to do so.

[2022-11-30 19:44] FabienPean opened #1010 "Actions/cache breaks symlink on Windows runners"
## Summary

Github actions/cache@v3 does not restore symlink properly on Windows by default. See for example restoring Intel MKL below:

[code]

## Context

This occurred during an action to cache Intel MKL. The minimal example is reproduced in the following [repository](https://github.com/FabienPean/test-actions-cache/) with the following [script](https://github.com/FabienPean/test-actions-cache/